trunk/MarketPlaceIngenium/jdeveloperApps/MarketPlaceApp/ProcesoRegistro/xsd/BAMServerConnection1_Cliente.xsd

<?xml version = '1.0' encoding = 'UTF-8'?><schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xmlns.oracle.com/bam" xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/bam"><annotation><documentation><info>/Cliente</info></documentation></annotation><element name="_ClienteCollection"><complexType><sequence><element maxOccurs="unbounded" minOccurs="0" name="_Cliente" type="tns:_Cliente"/></sequence></complexType></element><element name="Response"><complexType><sequence><element name="result" type="xsd:string"/></sequence></complexType></element><complexType name="_Cliente"><sequence><element minOccurs="1" name="_fecha"><annotation><appinfo><columnName xmlns="http://xmlns.oracle.com/bam">fecha</columnName><columnType xmlns="http://xmlns.oracle.com/bam">string</columnType><columnDescription xmlns="http://xmlns.oracle.com/bam"/></appinfo></annotation><simpleType><restriction base="xsd:string"><maxLength value="100"/></restriction></simpleType></element><element minOccurs="1" name="_nit"><annotation><appinfo><columnName xmlns="http://xmlns.oracle.com/bam">nit</columnName><columnType xmlns="http://xmlns.oracle.com/bam">string</columnType><columnDescription xmlns="http://xmlns.oracle.com/bam"/></appinfo></annotation><simpleType><restriction base="xsd:string"><maxLength value="100"/></restriction></simpleType></element></sequence></complexType></schema>