trunk/MarketPlaceIngenium/jdeveloperApps/MarketPlacePortlets/Portlets/src/co/com/losalpes/marketplace/ws/ordenCompra/ordencomprasubasta_client_ep.wsdl

<wsdl:definitions
     name="OrdenCompraSubasta"
     targetNamespace="http://xmlns.oracle.com/MarketPlace/ProcesoOrdenCompraSubasta/OrdenCompraSubasta"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:client="http://xmlns.oracle.com/MarketPlace/ProcesoOrdenCompraSubasta/OrdenCompraSubasta"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:documentation>
        <abstractWSDL>http://ecos5.virtual.uniandes.edu.co:7001/soa-infra/services/default/ProcesoOrdenCompraSubasta!1.0/OrdenCompraSubasta.wsdl</abstractWSDL>
    </wsdl:documentation>
    <plnk:partnerLinkType name="OrdenCompraSubasta">
        <plnk:role name="OrdenCompraSubastaRequester">
            <plnk:portType name="client:OrdenCompraSubastaCallback"/>
        </plnk:role>
        <plnk:role name="OrdenCompraSubastaProvider">
            <plnk:portType name="client:OrdenCompraSubasta"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
         wsu:Id="wsaddr_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:orawsp="http://schemas.oracle.com/ws/2006/01/policy"/>
    </wsp:Policy>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/MarketPlace/ProcesoOrdenCompraSubasta/OrdenCompraSubasta"
                 schemaLocation="OrdenCompraSubasta.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="OrdenCompraSubastaRequestMessage">
        <wsdl:part name="payload" element="client:process"/>
    </wsdl:message>
    <wsdl:message name="OrdenCompraSubastaResponseMessage">
        <wsdl:part name="payload" element="client:processResponse"/>
    </wsdl:message>
    <wsdl:portType name="OrdenCompraSubasta">
        <wsdl:operation name="process">
            <wsdl:input message="client:OrdenCompraSubastaRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="OrdenCompraSubastaCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:OrdenCompraSubastaResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrdenCompraSubastaCallbackBinding" type="client:OrdenCompraSubastaCallback">
        <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="processResponse">
            <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" soapAction="processResponse"/>
            <wsdl:input>
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" namespace="http://xmlns.oracle.com/MarketPlace/ProcesoOrdenCompraSubasta/OrdenCompraSubasta"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OrdenCompraSubastaBinding" type="client:OrdenCompraSubasta">
        <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wsaddr_policy"
             wsdl:required="false"/>
        <wsdl:operation name="process">
            <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" soapAction="process"/>
            <wsdl:input>
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" namespace="http://xmlns.oracle.com/MarketPlace/ProcesoOrdenCompraSubasta/OrdenCompraSubasta"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ordencomprasubasta_client_ep">
        <wsdl:port name="OrdenCompraSubasta_pt" binding="client:OrdenCompraSubastaBinding">
            <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://ecos5.virtual.uniandes.edu.co:7001/soa-infra/services/default/ProcesoOrdenCompraSubasta/ordencomprasubasta_client_ep"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
