tags/version-0.0.2/MarketPlaceIngenium/osbWorkspace/marketPlace/business/wsdls/RiskQualification/RiskQualificationCreditVerificationManagement.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><definitions targetNamespace="http://ws.riskqualification.marketplace.losalpes.com.co/" name="RiskQualificationCreditVerificationManagementService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.riskqualification.marketplace.losalpes.com.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.riskqualification.marketplace.losalpes.com.co/" schemaLocation="XMLSchema_-2137073593.xsd"/>
</xsd:schema>
</types>
<message name="verificarComfecamara">
<part name="parameters" element="tns:verificarComfecamara"/>
</message>
<message name="verificarComfecamaraResponse">
<part name="parameters" element="tns:verificarComfecamaraResponse"/>
</message>
<message name="BussinessException">
<part name="fault" element="tns:BussinessException"/>
</message>
<message name="verificarDataCredito">
<part name="parameters" element="tns:verificarDataCredito"/>
</message>
<message name="verificarDataCreditoResponse">
<part name="parameters" element="tns:verificarDataCreditoResponse"/>
</message>
<message name="verificarListaAntiLavado">
<part name="parameters" element="tns:verificarListaAntiLavado"/>
</message>
<message name="verificarListaAntiLavadoResponse">
<part name="parameters" element="tns:verificarListaAntiLavadoResponse"/>
</message>
<message name="verificarListaClinton">
<part name="parameters" element="tns:verificarListaClinton"/>
</message>
<message name="verificarListaClintonResponse">
<part name="parameters" element="tns:verificarListaClintonResponse"/>
</message>
<message name="verificarListaInternacional">
<part name="parameters" element="tns:verificarListaInternacional"/>
</message>
<message name="verificarListaInternacionalResponse">
<part name="parameters" element="tns:verificarListaInternacionalResponse"/>
</message>
<portType name="RiskQualificationCreditVerificationManagement">
<operation name="verificarComfecamara">
<input message="tns:verificarComfecamara"/>
<output message="tns:verificarComfecamaraResponse"/>
<fault message="tns:BussinessException" name="BussinessException"/>
</operation>
<operation name="verificarDataCredito">
<input message="tns:verificarDataCredito"/>
<output message="tns:verificarDataCreditoResponse"/>
<fault message="tns:BussinessException" name="BussinessException"/>
</operation>
<operation name="verificarListaAntiLavado">
<input message="tns:verificarListaAntiLavado"/>
<output message="tns:verificarListaAntiLavadoResponse"/>
<fault message="tns:BussinessException" name="BussinessException"/>
</operation>
<operation name="verificarListaClinton">
<input message="tns:verificarListaClinton"/>
<output message="tns:verificarListaClintonResponse"/>
<fault message="tns:BussinessException" name="BussinessException"/>
</operation>
<operation name="verificarListaInternacional">
<input message="tns:verificarListaInternacional"/>
<output message="tns:verificarListaInternacionalResponse"/>
<fault message="tns:BussinessException" name="BussinessException"/>
</operation>
</portType>
<binding name="RiskQualificationCreditVerificationManagementPortBinding" type="tns:RiskQualificationCreditVerificationManagement">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="verificarComfecamara">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BussinessException">
<soap:fault name="BussinessException" use="literal"/>
</fault>
</operation>
<operation name="verificarDataCredito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BussinessException">
<soap:fault name="BussinessException" use="literal"/>
</fault>
</operation>
<operation name="verificarListaAntiLavado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BussinessException">
<soap:fault name="BussinessException" use="literal"/>
</fault>
</operation>
<operation name="verificarListaClinton">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BussinessException">
<soap:fault name="BussinessException" use="literal"/>
</fault>
</operation>
<operation name="verificarListaInternacional">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BussinessException">
<soap:fault name="BussinessException" use="literal"/>
</fault>
</operation>
</binding>
<service name="RiskQualificationCreditVerificationManagementService">
<port name="RiskQualificationCreditVerificationManagementPort" binding="tns:RiskQualificationCreditVerificationManagementPortBinding">
<soap:address location="http://localhost:8148/RiskQualificationCreditVerificationManagementService/RiskQualificationCreditVerificationManagement"/>
</port>
</service>
</definitions>