trunk/MarketPlaceIngenium/jdeveloperApps/MarketPlacePortlets/Portlets/src/co/com/losalpes/marketplace/ws/gestionContrato/ContractManagerContractManagementService.wsdl

<WL5G3N0:definitions
     name="ContractManagerContractManagementService"
     targetNamespace="http://ws.contractmanager.marketplace.losalpes.com.co/"
     xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
     xmlns:WL5G3N1="http://ws.contractmanager.marketplace.losalpes.com.co/"
    >
    <WL5G3N0:types>
        <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.contractmanager.marketplace.losalpes.com.co/"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://ws.contractmanager.marketplace.losalpes.com.co/" schemaLocation="GestionContrato_SCHEMA_2FmarketPlace_2Fproxy_2Fwsdls_2FGestionContrato_2FContractManagerContractManagementService_schema1.xsd"/>
        </xsd:schema>
    </WL5G3N0:types>
    <WL5G3N0:message name="registrarContrato">
        <WL5G3N0:part name="parameters" element="WL5G3N1:registrarContrato"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="registrarContratoResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:registrarContratoResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="ContratoException">
        <WL5G3N0:part name="fault" element="WL5G3N1:ContratoException"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="actualizarContrato">
        <WL5G3N0:part name="parameters" element="WL5G3N1:actualizarContrato"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="actualizarContratoResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:actualizarContratoResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="ContratoNoExisteException">
        <WL5G3N0:part name="fault" element="WL5G3N1:ContratoNoExisteException"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarContratosFabricante">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarContratosFabricante"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarContratosFabricanteResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarContratosFabricanteResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarContrato">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarContrato"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarContratoResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarContratoResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarContratosComercio">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarContratosComercio"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarContratosComercioResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarContratosComercioResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:portType name="ContractManagerContractManagement">
        <WL5G3N0:operation name="registrarContrato">
            <WL5G3N0:input message="WL5G3N1:registrarContrato"/>
            <WL5G3N0:output message="WL5G3N1:registrarContratoResponse"/>
            <WL5G3N0:fault name="ContratoException" message="WL5G3N1:ContratoException"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="actualizarContrato">
            <WL5G3N0:input message="WL5G3N1:actualizarContrato"/>
            <WL5G3N0:output message="WL5G3N1:actualizarContratoResponse"/>
            <WL5G3N0:fault name="ContratoNoExisteException" message="WL5G3N1:ContratoNoExisteException"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarContratosFabricante">
            <WL5G3N0:input message="WL5G3N1:consultarContratosFabricante"/>
            <WL5G3N0:output message="WL5G3N1:consultarContratosFabricanteResponse"/>
            <WL5G3N0:fault name="ContratoNoExisteException" message="WL5G3N1:ContratoNoExisteException"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarContrato">
            <WL5G3N0:input message="WL5G3N1:consultarContrato"/>
            <WL5G3N0:output message="WL5G3N1:consultarContratoResponse"/>
            <WL5G3N0:fault name="ContratoNoExisteException" message="WL5G3N1:ContratoNoExisteException"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarContratosComercio">
            <WL5G3N0:input message="WL5G3N1:consultarContratosComercio"/>
            <WL5G3N0:output message="WL5G3N1:consultarContratosComercioResponse"/>
            <WL5G3N0:fault name="ContratoNoExisteException" message="WL5G3N1:ContratoNoExisteException"/>
        </WL5G3N0:operation>
    </WL5G3N0:portType>
    <WL5G3N0:binding name="ContractManagerContractManagementPortBinding" type="WL5G3N1:ContractManagerContractManagement">
        <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <WL5G3N0:operation name="registrarContrato">
            <WL5G3N2:operation/>
            <WL5G3N0:input>
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:output>
            <WL5G3N0:fault name="ContratoException">
                <WL5G3N2:fault name="ContratoException" use="literal"/>
            </WL5G3N0:fault>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="actualizarContrato">
            <WL5G3N2:operation/>
            <WL5G3N0:input>
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:output>
            <WL5G3N0:fault name="ContratoNoExisteException">
                <WL5G3N2:fault name="ContratoNoExisteException" use="literal"/>
            </WL5G3N0:fault>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarContratosFabricante">
            <WL5G3N2:operation/>
            <WL5G3N0:input>
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:output>
            <WL5G3N0:fault name="ContratoNoExisteException">
                <WL5G3N2:fault name="ContratoNoExisteException" use="literal"/>
            </WL5G3N0:fault>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarContrato">
            <WL5G3N2:operation/>
            <WL5G3N0:input>
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:output>
            <WL5G3N0:fault name="ContratoNoExisteException">
                <WL5G3N2:fault name="ContratoNoExisteException" use="literal"/>
            </WL5G3N0:fault>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarContratosComercio">
            <WL5G3N2:operation/>
            <WL5G3N0:input>
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:output>
            <WL5G3N0:fault name="ContratoNoExisteException">
                <WL5G3N2:fault name="ContratoNoExisteException" use="literal"/>
            </WL5G3N0:fault>
        </WL5G3N0:operation>
    </WL5G3N0:binding>
    <WL5G3N0:service name="ContractManagerContractManagementService">
        <WL5G3N0:port name="ContractManagerContractManagementPort" binding="WL5G3N1:ContractManagerContractManagementPortBinding">
            <WL5G3N2:address location="http://ecos5.virtual.uniandes.edu.co:7001/marketPlace/proxy/GestionContrato"/>
        </WL5G3N0:port>
    </WL5G3N0:service>
</WL5G3N0:definitions>
