tags/version-0.0.1/MarketPlaceIngenium/osbWorkspace/marketPlace/business/wsdls/BillingCharges/BillingChargesCuentaFacturacionManagment.wsdl


	<!--
		Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is
		JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT.
	-->
	<!--
		Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is
		JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT.
	-->
<definitions targetNamespace="http://ws.facturacion.marketplace.losalpes.com.co/"
	name="BillingChargesCuentaFacturacionManagmentService"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.facturacion.marketplace.losalpes.com.co/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://ws.facturacion.marketplace.losalpes.com.co/"
				schemaLocation="XMLSchema_-403116747.xsd" />
		</xsd:schema>
	</types>
	<message name="crearCuentaFacturacion">
		<part name="parameters" element="tns:crearCuentaFacturacion" />
	</message>
	<message name="crearCuentaFacturacionResponse">
		<part name="parameters" element="tns:crearCuentaFacturacionResponse" />
	</message>
	<message name="consultarCuentaFacturacionCliente">
		<part name="parameters" element="tns:consultarCuentaFacturacionCliente" />
	</message>
	<message name="consultarCuentaFacturacionClienteResponse">
		<part name="parameters" element="tns:consultarCuentaFacturacionClienteResponse" />
	</message>
	<message name="CuentaFacturacionNoExisteException">
		<part name="fault" element="tns:CuentaFacturacionNoExisteException" />
	</message>
	<message name="consultarCuentaFacturacion">
		<part name="parameters" element="tns:consultarCuentaFacturacion" />
	</message>
	<message name="consultarCuentaFacturacionResponse">
		<part name="parameters" element="tns:consultarCuentaFacturacionResponse" />
	</message>
	<message name="generarFacturaCorte">
		<part name="parameters" element="tns:generarFacturaCorte" />
	</message>
	<message name="generarFacturaCorteResponse">
		<part name="parameters" element="tns:generarFacturaCorteResponse" />
	</message>
	<message name="FacturaException">
		<part name="fault" element="tns:FacturaException" />
	</message>
	<message name="registrarTransaccion">
		<part name="parameters" element="tns:registrarTransaccion" />
	</message>
	<message name="registrarTransaccionResponse">
		<part name="parameters" element="tns:registrarTransaccionResponse" />
	</message>
	<message name="cambiarEstadoCliente">
		<part name="parameters" element="tns:cambiarEstadoCliente" />
	</message>
	<message name="cambiarEstadoClienteResponse">
		<part name="parameters" element="tns:cambiarEstadoClienteResponse" />
	</message>
	<message name="reportarClientesMorosos">
		<part name="parameters" element="tns:reportarClientesMorosos" />
	</message>
	<message name="reportarClientesMorososResponse">
		<part name="parameters" element="tns:reportarClientesMorososResponse" />
	</message>
	<portType name="BillingChargesCuentaFacturacionManagment">
		<operation name="crearCuentaFacturacion">
			<input message="tns:crearCuentaFacturacion" />
			<output message="tns:crearCuentaFacturacionResponse" />
		</operation>
		<operation name="consultarCuentaFacturacionCliente">
			<input message="tns:consultarCuentaFacturacionCliente" />
			<output message="tns:consultarCuentaFacturacionClienteResponse" />
			<fault message="tns:CuentaFacturacionNoExisteException" name="CuentaFacturacionNoExisteException" />
		</operation>
		<operation name="consultarCuentaFacturacion">
			<input message="tns:consultarCuentaFacturacion" />
			<output message="tns:consultarCuentaFacturacionResponse" />
			<fault message="tns:CuentaFacturacionNoExisteException" name="CuentaFacturacionNoExisteException" />
		</operation>
		<operation name="generarFacturaCorte">
			<input message="tns:generarFacturaCorte" />
			<output message="tns:generarFacturaCorteResponse" />
			<fault message="tns:FacturaException" name="FacturaException" />
		</operation>
		<operation name="registrarTransaccion">
			<input message="tns:registrarTransaccion" />
			<output message="tns:registrarTransaccionResponse" />
			<fault message="tns:CuentaFacturacionNoExisteException" name="CuentaFacturacionNoExisteException" />
		</operation>
		<operation name="cambiarEstadoCliente">
			<input message="tns:cambiarEstadoCliente" />
			<output message="tns:cambiarEstadoClienteResponse" />
			<fault message="tns:CuentaFacturacionNoExisteException" name="CuentaFacturacionNoExisteException" />
		</operation>
		<operation name="reportarClientesMorosos">
			<input message="tns:reportarClientesMorosos" />
			<output message="tns:reportarClientesMorososResponse" />
		</operation>
	</portType>
	<binding name="BillingChargesCuentaFacturacionManagmentPortBinding"
		type="tns:BillingChargesCuentaFacturacionManagment">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="crearCuentaFacturacion">
			
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="consultarCuentaFacturacionCliente">
			
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="CuentaFacturacionNoExisteException">
				<soap:fault name="CuentaFacturacionNoExisteException"
					use="literal" />
			</fault>
		</operation>
		<operation name="consultarCuentaFacturacion">
			
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="CuentaFacturacionNoExisteException">
				<soap:fault name="CuentaFacturacionNoExisteException"
					use="literal" />
			</fault>
		</operation>
		<operation name="generarFacturaCorte">
			
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="FacturaException">
				<soap:fault name="FacturaException" use="literal" />
			</fault>
		</operation>
		<operation name="registrarTransaccion">
			
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="CuentaFacturacionNoExisteException">
				<soap:fault name="CuentaFacturacionNoExisteException"
					use="literal" />
			</fault>
		</operation>
		<operation name="cambiarEstadoCliente">
			
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="CuentaFacturacionNoExisteException">
				<soap:fault name="CuentaFacturacionNoExisteException"
					use="literal" />
			</fault>
		</operation>
		<operation name="reportarClientesMorosos">
			
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="BillingChargesCuentaFacturacionManagmentService">
		<port name="BillingChargesCuentaFacturacionManagmentPort"
			binding="tns:BillingChargesCuentaFacturacionManagmentPortBinding">
			<soap:address
				location="http://localhost:8148/BillingChargesCuentaFacturacionManagmentService/BillingChargesCuentaFacturacionManagment" />
		</port>
	</service>
</definitions>