trunk/MarketPlaceIngenium/jdeveloperApps/MarketPlacePortlets/Portlets/src/co/com/losalpes/marketplace/ws/gestionDA/GestionDASOAPQSService.wsdl

<WL5G3N0:definitions
     name="GestionDA"
     targetNamespace="http://marketplace.losalpes.com.co/GestionDA"
     xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:WL5G3N2="http://marketplace.losalpes.com.co/GestionDA"
     xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
     xmlns:WL5G3N1="http://marketplace.losalpes.com.co"
    >
    <WL5G3N0:types>
        <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://marketplace.losalpes.com.co/GestionDA"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsd1="http://marketplace.losalpes.com.co">
            <xsd:import namespace="http://marketplace.losalpes.com.co" schemaLocation="GestionDA_SCHEMA_2FmarketPlace_2Fproxy_2Fwsdls_2FgestionDA_2FGestionDA.xsd"/>
        </xsd:schema>
    </WL5G3N0:types>
    <WL5G3N0:message name="registrarDARequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:registrarDA"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="registrarDAResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:registrarDAResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarDARequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarDA"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarDAResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarDAResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarDAsFabricanteRequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarDAsFabricante"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarDAsFabricanteResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarDAsFabricanteResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarDAnumSeguimientoPORequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarDAnumSeguimientoPO"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarDAnumSeguimientoPOResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarDAnumSeguimientoPOResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:portType name="GestionDA">
        <WL5G3N0:operation name="registrarDA">
            <WL5G3N0:input message="WL5G3N2:registrarDARequest"/>
            <WL5G3N0:output message="WL5G3N2:registrarDAResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarDA">
            <WL5G3N0:input message="WL5G3N2:consultarDARequest"/>
            <WL5G3N0:output message="WL5G3N2:consultarDAResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarDAsFabricante">
            <WL5G3N0:input message="WL5G3N2:consultarDAsFabricanteRequest"/>
            <WL5G3N0:output message="WL5G3N2:consultarDAsFabricanteResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarDAnumSeguimientoPO">
            <WL5G3N0:input message="WL5G3N2:consultarDAnumSeguimientoPORequest"/>
            <WL5G3N0:output message="WL5G3N2:consultarDAnumSeguimientoPOResponse"/>
        </WL5G3N0:operation>
    </WL5G3N0:portType>
    <WL5G3N0:binding name="GestionDASOAP" type="WL5G3N2:GestionDA">
        <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <WL5G3N0:operation name="registrarDA">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionDA/registrarDA"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarDA">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionDA/consultarDA"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarDAsFabricante">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionDA/consultarDAsFabricante"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarDAnumSeguimientoPO">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionDA/consultarDAnumSeguimientoPO"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
    </WL5G3N0:binding>
    <WL5G3N0:service name="GestionDASOAPQSService">
        <WL5G3N0:port name="GestionDASOAPQSPort" binding="WL5G3N2:GestionDASOAP">
            <WL5G3N3:address location="http://portal.marketplace.losalpes.com.co:7001/marketPlace/proxy/GestionDA"/>
        </WL5G3N0:port>
    </WL5G3N0:service>
</WL5G3N0:definitions>
