trunk/MarketPlaceIngenium/osbWorkspace/marketPlace/proxy/wsdls/gestionFacturacion/GestionFacturacion.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://marketplace.losalpes.com.co/GestionFacturacion" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GestionFacturacion" targetNamespace="http://marketplace.losalpes.com.co/GestionFacturacion" xmlns:xsd1="http://marketplace.losalpes.com.co">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://marketplace.losalpes.com.co"
    		schemaLocation="GestionFacturacion.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="crearCuentaFacturacionRequest">
    <wsdl:part element="xsd1:crearCuentaFacturacion" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="crearCuentaFacturacionResponse">
    <wsdl:part element="xsd1:crearCuentaFacturacionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="consultarCuentaFacturacionRequest">
  	<wsdl:part name="parameters" element="xsd1:consultarCuentaFacturacion"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarCuentaFacturacionResponse">
  	<wsdl:part name="parameters" element="xsd1:consultarCuentaFacturacionResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="generarFacturaCorteRequest">
  	<wsdl:part name="parameters" element="xsd1:generarFacturaCorte"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="generarFacturaCorteResponse">
  	<wsdl:part name="parameters" element="xsd1:generarFacturaCorteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="registrarTransaccionRequest">
  	<wsdl:part name="parameters" element="xsd1:registrarTransaccion"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="registrarTransaccionResponse">
  	<wsdl:part name="parameters" element="xsd1:registrarTransaccionResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="cambiarEstadoClienteRequest">
  	<wsdl:part name="parameters" element="xsd1:cambiarEstadoCliente"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="cambiarEstadoClienteResponse">
  	<wsdl:part name="parameters" element="xsd1:cambiarEstadoClienteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarCuentaFacturacionClienteRequest">
  	<wsdl:part name="parameters" element="xsd1:consultarCuentaFacturacionCliente"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarCuentaFacturacionClienteResponse">
  	<wsdl:part name="parameters" element="xsd1:consultarCuentaFacturacionClienteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="reportarClientesMorososRequest">
  	<wsdl:part name="parameters" element="xsd1:reportarClientesMorosos"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="reportarClientesMorososResponse">
  	<wsdl:part name="parameters" element="xsd1:reportarClientesMorososResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GestionFacturacion">
    <wsdl:operation name="crearCuentaFacturacion">
      <wsdl:input message="tns:crearCuentaFacturacionRequest"/>
      <wsdl:output message="tns:crearCuentaFacturacionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultarCuentaFacturacion">
    	<wsdl:input message="tns:consultarCuentaFacturacionRequest"></wsdl:input>
    	<wsdl:output message="tns:consultarCuentaFacturacionResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarFacturaCorte">
    	<wsdl:input message="tns:generarFacturaCorteRequest"></wsdl:input>
    	<wsdl:output message="tns:generarFacturaCorteResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarTransaccion">
    	<wsdl:input message="tns:registrarTransaccionRequest"></wsdl:input>
    	<wsdl:output message="tns:registrarTransaccionResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambiarEstadoCliente">
    	<wsdl:input message="tns:cambiarEstadoClienteRequest"></wsdl:input>
    	<wsdl:output message="tns:cambiarEstadoClienteResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarCuentaFacturacionCliente">
    	<wsdl:input message="tns:consultarCuentaFacturacionClienteRequest"></wsdl:input>
    	<wsdl:output message="tns:consultarCuentaFacturacionClienteResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportarClientesMorosos">
    	<wsdl:input message="tns:reportarClientesMorososRequest"></wsdl:input>
    	<wsdl:output message="tns:reportarClientesMorososResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestionFacturacionSOAP"
  	type="tns:GestionFacturacion">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="crearCuentaFacturacion">

  		<soap:operation
  			soapAction="http://marketplace.losalpes.com.co/GestionFacturacion/crearCuentaFacturacion" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="consultarCuentaFacturacion">

  		<soap:operation
  			soapAction="http://marketplace.losalpes.com.co/GestionFacturacion/consultarCuentaFacturacion" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="generarFacturaCorte">

  		<soap:operation
  			soapAction="http://marketplace.losalpes.com.co/GestionFacturacion/generarFacturaCorte" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="registrarTransaccion">

  		<soap:operation
  			soapAction="http://marketplace.losalpes.com.co/GestionFacturacion/registrarTransaccion" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="cambiarEstadoCliente">

  		<soap:operation
  			soapAction="http://marketplace.losalpes.com.co/GestionFacturacion/cambiarEstadoCliente" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="consultarCuentaFacturacionCliente">

  		<soap:operation
  			soapAction="http://marketplace.losalpes.com.co/GestionFacturacion/consultarCuentaFacturacionCliente" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="reportarClientesMorosos">

  		<soap:operation
  			soapAction="http://marketplace.losalpes.com.co/GestionFacturacion/reportarClientesMorosos" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionFacturacion">
    <wsdl:port binding="tns:GestionFacturacionSOAP" name="GestionFacturacionSOAP">
      <soap:address location="http://portal.marketplace.losalpes.com.co:7001/marketPlace/proxy/GestionFacturacion"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
