tags/version-0.0.1/MarketPlaceIngenium/jdeveloperApps/MarketPlaceApp/ProcesoOrdenCompraDirecta/xsd/BAMServerConnection1_OrdenCompra.xsd

<?xml version = '1.0' encoding = 'UTF-8'?><schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xmlns.oracle.com/bam" xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/bam"><annotation><documentation><info>/OrdenCompra</info></documentation></annotation><element name="_OrdenCompraCollection"><complexType><sequence><element maxOccurs="unbounded" minOccurs="0" name="_OrdenCompra" type="tns:_OrdenCompra"/></sequence></complexType></element><element name="Response"><complexType><sequence><element name="result" type="xsd:string"/></sequence></complexType></element><complexType name="_OrdenCompra"><sequence><element minOccurs="1" name="_numero" type="xsd:integer"><annotation><appinfo><columnName xmlns="http://xmlns.oracle.com/bam">numero</columnName><columnType xmlns="http://xmlns.oracle.com/bam">integer</columnType><columnDescription xmlns="http://xmlns.oracle.com/bam"/></appinfo></annotation></element><element minOccurs="1" name="_comision"><annotation><appinfo><columnName xmlns="http://xmlns.oracle.com/bam">comision</columnName><columnType xmlns="http://xmlns.oracle.com/bam">decimal</columnType><columnDescription xmlns="http://xmlns.oracle.com/bam"/></appinfo></annotation><simpleType><restriction base="xsd:decimal"><fractionDigits value="10"/></restriction></simpleType></element></sequence></complexType></schema>