tags/version-0.0.1/MarketPlaceIngenium/jdeveloperApps/MarketPlaceApp/ProcesoOrdenCompraDirecta/PoManagerPoManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="PoManagerPoManagementService" targetNamespace="http://ws.pomanager.marketplace.losalpes.com.co/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://ws.pomanager.marketplace.losalpes.com.co/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.pomanager.marketplace.losalpes.com.co/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://ws.pomanager.marketplace.losalpes.com.co/" schemaLocation="PoManagerPoManagementService_schema1.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="registrarPO">
    <WL5G3N0:part element="WL5G3N1:registrarPO" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="registrarPOResponse">
    <WL5G3N0:part element="WL5G3N1:registrarPOResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="BussinessException">
    <WL5G3N0:part element="WL5G3N1:BussinessException" name="fault"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarPOFabricantePorEstado">
    <WL5G3N0:part element="WL5G3N1:consultarPOFabricantePorEstado" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarPOFabricantePorEstadoResponse">
    <WL5G3N0:part element="WL5G3N1:consultarPOFabricantePorEstadoResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarPO">
    <WL5G3N0:part element="WL5G3N1:consultarPO" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarPOResponse">
    <WL5G3N0:part element="WL5G3N1:consultarPOResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="OrdenCompraNoExisteException">
    <WL5G3N0:part element="WL5G3N1:OrdenCompraNoExisteException" name="fault"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="actualizarEstadoPO">
    <WL5G3N0:part element="WL5G3N1:actualizarEstadoPO" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="actualizarEstadoPOResponse">
    <WL5G3N0:part element="WL5G3N1:actualizarEstadoPOResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="establecerFabricanteAtiende">
    <WL5G3N0:part element="WL5G3N1:establecerFabricanteAtiende" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="establecerFabricanteAtiendeResponse">
    <WL5G3N0:part element="WL5G3N1:establecerFabricanteAtiendeResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarComercioPorPO">
    <WL5G3N0:part element="WL5G3N1:consultarComercioPorPO" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarComercioPorPOResponse">
    <WL5G3N0:part element="WL5G3N1:consultarComercioPorPOResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarPOsComercio">
    <WL5G3N0:part element="WL5G3N1:consultarPOsComercio" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarPOsComercioResponse">
    <WL5G3N0:part element="WL5G3N1:consultarPOsComercioResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ClienteNoExisteException">
    <WL5G3N0:part element="WL5G3N1:ClienteNoExisteException" name="fault"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="PoManagerPoManagement">
    <WL5G3N0:operation name="registrarPO">
      <WL5G3N0:input message="WL5G3N1:registrarPO"/>
      <WL5G3N0:output message="WL5G3N1:registrarPOResponse"/>
      <WL5G3N0:fault message="WL5G3N1:BussinessException" name="BussinessException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarPOFabricantePorEstado">
      <WL5G3N0:input message="WL5G3N1:consultarPOFabricantePorEstado"/>
      <WL5G3N0:output message="WL5G3N1:consultarPOFabricantePorEstadoResponse"/>
      <WL5G3N0:fault message="WL5G3N1:BussinessException" name="BussinessException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarPO">
      <WL5G3N0:input message="WL5G3N1:consultarPO"/>
      <WL5G3N0:output message="WL5G3N1:consultarPOResponse"/>
      <WL5G3N0:fault message="WL5G3N1:OrdenCompraNoExisteException" name="OrdenCompraNoExisteException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizarEstadoPO">
      <WL5G3N0:input message="WL5G3N1:actualizarEstadoPO"/>
      <WL5G3N0:output message="WL5G3N1:actualizarEstadoPOResponse"/>
      <WL5G3N0:fault message="WL5G3N1:OrdenCompraNoExisteException" name="OrdenCompraNoExisteException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="establecerFabricanteAtiende">
      <WL5G3N0:input message="WL5G3N1:establecerFabricanteAtiende"/>
      <WL5G3N0:output message="WL5G3N1:establecerFabricanteAtiendeResponse"/>
      <WL5G3N0:fault message="WL5G3N1:OrdenCompraNoExisteException" name="OrdenCompraNoExisteException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarComercioPorPO">
      <WL5G3N0:input message="WL5G3N1:consultarComercioPorPO"/>
      <WL5G3N0:output message="WL5G3N1:consultarComercioPorPOResponse"/>
      <WL5G3N0:fault message="WL5G3N1:OrdenCompraNoExisteException" name="OrdenCompraNoExisteException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarPOsComercio">
      <WL5G3N0:input message="WL5G3N1:consultarPOsComercio"/>
      <WL5G3N0:output message="WL5G3N1:consultarPOsComercioResponse"/>
      <WL5G3N0:fault message="WL5G3N1:ClienteNoExisteException" name="ClienteNoExisteException"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="PoManagerPoManagementPortBinding" type="WL5G3N1:PoManagerPoManagement">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="registrarPO">
      <WL5G3N2:operation/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="BussinessException">
        <WL5G3N2:fault name="BussinessException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarPOFabricantePorEstado">
      <WL5G3N2:operation/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="BussinessException">
        <WL5G3N2:fault name="BussinessException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarPO">
      <WL5G3N2:operation/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="OrdenCompraNoExisteException">
        <WL5G3N2:fault name="OrdenCompraNoExisteException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizarEstadoPO">
      <WL5G3N2:operation/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="OrdenCompraNoExisteException">
        <WL5G3N2:fault name="OrdenCompraNoExisteException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="establecerFabricanteAtiende">
      <WL5G3N2:operation/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="OrdenCompraNoExisteException">
        <WL5G3N2:fault name="OrdenCompraNoExisteException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarComercioPorPO">
      <WL5G3N2:operation/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="OrdenCompraNoExisteException">
        <WL5G3N2:fault name="OrdenCompraNoExisteException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarPOsComercio">
      <WL5G3N2:operation/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="ClienteNoExisteException">
        <WL5G3N2:fault name="ClienteNoExisteException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="PoManagerPoManagementService">
    <WL5G3N0:port binding="WL5G3N1:PoManagerPoManagementPortBinding" name="PoManagerPoManagementPort">
      <WL5G3N2:address location="http://User-PC:7001/marketPlace/proxy/GestionPO"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>