tags/version-0.0.1/MarketPlaceIngenium/osbWorkspace/marketPlace/business/wsdls/poManager/PoManagerPoManagementService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. -->
<definitions targetNamespace="http://ws.pomanager.marketplace.losalpes.com.co/" name="PoManagerPoManagementService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.pomanager.marketplace.losalpes.com.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.pomanager.marketplace.losalpes.com.co/" schemaLocation="PoManagerPoManagementService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="registrarPO">
    <part name="parameters" element="tns:registrarPO"/>
  </message>
  <message name="registrarPOResponse">
    <part name="parameters" element="tns:registrarPOResponse"/>
  </message>
  <message name="BussinessException">
    <part name="fault" element="tns:BussinessException"/>
  </message>
  <message name="consultarPOFabricantePorEstado">
    <part name="parameters" element="tns:consultarPOFabricantePorEstado"/>
  </message>
  <message name="consultarPOFabricantePorEstadoResponse">
    <part name="parameters" element="tns:consultarPOFabricantePorEstadoResponse"/>
  </message>
  <message name="consultarPO">
    <part name="parameters" element="tns:consultarPO"/>
  </message>
  <message name="consultarPOResponse">
    <part name="parameters" element="tns:consultarPOResponse"/>
  </message>
  <message name="OrdenCompraNoExisteException">
    <part name="fault" element="tns:OrdenCompraNoExisteException"/>
  </message>
  <message name="actualizarEstadoPO">
    <part name="parameters" element="tns:actualizarEstadoPO"/>
  </message>
  <message name="actualizarEstadoPOResponse">
    <part name="parameters" element="tns:actualizarEstadoPOResponse"/>
  </message>
  <message name="establecerFabricanteAtiende">
    <part name="parameters" element="tns:establecerFabricanteAtiende"/>
  </message>
  <message name="establecerFabricanteAtiendeResponse">
    <part name="parameters" element="tns:establecerFabricanteAtiendeResponse"/>
  </message>
  <message name="consultarComercioPorPO">
    <part name="parameters" element="tns:consultarComercioPorPO"/>
  </message>
  <message name="consultarComercioPorPOResponse">
    <part name="parameters" element="tns:consultarComercioPorPOResponse"/>
  </message>
  <message name="consultarPOsComercio">
    <part name="parameters" element="tns:consultarPOsComercio"/>
  </message>
  <message name="consultarPOsComercioResponse">
    <part name="parameters" element="tns:consultarPOsComercioResponse"/>
  </message>
  <message name="ClienteNoExisteException">
    <part name="fault" element="tns:ClienteNoExisteException"/>
  </message>
  <portType name="PoManagerPoManagement">
    <operation name="registrarPO">
      <input message="tns:registrarPO"/>
      <output message="tns:registrarPOResponse"/>
      <fault message="tns:BussinessException" name="BussinessException"/>
    </operation>
    <operation name="consultarPOFabricantePorEstado">
      <input message="tns:consultarPOFabricantePorEstado"/>
      <output message="tns:consultarPOFabricantePorEstadoResponse"/>
      <fault message="tns:BussinessException" name="BussinessException"/>
    </operation>
    <operation name="consultarPO">
      <input message="tns:consultarPO"/>
      <output message="tns:consultarPOResponse"/>
      <fault message="tns:OrdenCompraNoExisteException" name="OrdenCompraNoExisteException"/>
    </operation>
    <operation name="actualizarEstadoPO">
      <input message="tns:actualizarEstadoPO"/>
      <output message="tns:actualizarEstadoPOResponse"/>
      <fault message="tns:OrdenCompraNoExisteException" name="OrdenCompraNoExisteException"/>
    </operation>
    <operation name="establecerFabricanteAtiende">
      <input message="tns:establecerFabricanteAtiende"/>
      <output message="tns:establecerFabricanteAtiendeResponse"/>
      <fault message="tns:OrdenCompraNoExisteException" name="OrdenCompraNoExisteException"/>
    </operation>
    <operation name="consultarComercioPorPO">
      <input message="tns:consultarComercioPorPO"/>
      <output message="tns:consultarComercioPorPOResponse"/>
      <fault message="tns:OrdenCompraNoExisteException" name="OrdenCompraNoExisteException"/>
    </operation>
    <operation name="consultarPOsComercio">
      <input message="tns:consultarPOsComercio"/>
      <output message="tns:consultarPOsComercioResponse"/>
      <fault message="tns:ClienteNoExisteException" name="ClienteNoExisteException"/>
    </operation>
  </portType>
  <binding name="PoManagerPoManagementPortBinding" type="tns:PoManagerPoManagement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="registrarPO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BussinessException">
        <soap:fault name="BussinessException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarPOFabricantePorEstado">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BussinessException">
        <soap:fault name="BussinessException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarPO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrdenCompraNoExisteException">
        <soap:fault name="OrdenCompraNoExisteException" use="literal"/>
      </fault>
    </operation>
    <operation name="actualizarEstadoPO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrdenCompraNoExisteException">
        <soap:fault name="OrdenCompraNoExisteException" use="literal"/>
      </fault>
    </operation>
    <operation name="establecerFabricanteAtiende">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrdenCompraNoExisteException">
        <soap:fault name="OrdenCompraNoExisteException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarComercioPorPO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrdenCompraNoExisteException">
        <soap:fault name="OrdenCompraNoExisteException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarPOsComercio">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ClienteNoExisteException">
        <soap:fault name="ClienteNoExisteException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="PoManagerPoManagementService">
    <port name="PoManagerPoManagementPort" binding="tns:PoManagerPoManagementPortBinding">
      <soap:address location="http://localhost:8148/PoManagerPoManagementService/PoManagerPoManagement"/>
    </port>
  </service>
</definitions>

