tags/version-0.0.1/MarketPlaceIngenium/osbWorkspace/marketPlace/business/wsdls/poManager/PoManagerDaManagement.wsdl


	<!--
		Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is
		JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT.
	-->
	<!--
		Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is
		JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT.
	-->
<definitions targetNamespace="http://ws.pomanager.marketplace.losalpes.com.co/"
	name="PoManagerDaManagementService"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.pomanager.marketplace.losalpes.com.co/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://ws.pomanager.marketplace.losalpes.com.co/"
				schemaLocation="XMLSchema_-1442769241.xsd" />
		</xsd:schema>
	</types>
	<message name="registrarDA">
		<part name="parameters" element="tns:registrarDA" />
	</message>
	<message name="registrarDAResponse">
		<part name="parameters" element="tns:registrarDAResponse" />
	</message>
	<message name="OrdenCompraNoExisteException">
		<part name="fault" element="tns:OrdenCompraNoExisteException" />
	</message>
	<message name="consultarDA">
		<part name="parameters" element="tns:consultarDA" />
	</message>
	<message name="consultarDAResponse">
		<part name="parameters" element="tns:consultarDAResponse" />
	</message>
	<message name="AvisoDespachoNoExisteException">
		<part name="fault" element="tns:AvisoDespachoNoExisteException" />
	</message>
	<message name="consultarDAsFabricante">
		<part name="parameters" element="tns:consultarDAsFabricante" />
	</message>
	<message name="consultarDAsFabricanteResponse">
		<part name="parameters" element="tns:consultarDAsFabricanteResponse" />
	</message>
	<message name="ClienteNoExisteException">
		<part name="fault" element="tns:ClienteNoExisteException" />
	</message>
	<message name="consultarDAnumSeguimientoPO">
		<part name="parameters" element="tns:consultarDAnumSeguimientoPO" />
	</message>
	<message name="consultarDAnumSeguimientoPOResponse">
		<part name="parameters" element="tns:consultarDAnumSeguimientoPOResponse" />
	</message>
	<portType name="PoManagerDaManagement">
		<operation name="registrarDA">
			<input message="tns:registrarDA" />
			<output message="tns:registrarDAResponse" />
			<fault message="tns:OrdenCompraNoExisteException" name="OrdenCompraNoExisteException" />
		</operation>
		<operation name="consultarDA">
			<input message="tns:consultarDA" />
			<output message="tns:consultarDAResponse" />
			<fault message="tns:AvisoDespachoNoExisteException" name="AvisoDespachoNoExisteException" />
		</operation>
		<operation name="consultarDAsFabricante">
			<input message="tns:consultarDAsFabricante" />
			<output message="tns:consultarDAsFabricanteResponse" />
			<fault message="tns:ClienteNoExisteException" name="ClienteNoExisteException" />
		</operation>
		<operation name="consultarDAnumSeguimientoPO">
			<input message="tns:consultarDAnumSeguimientoPO" />
			<output message="tns:consultarDAnumSeguimientoPOResponse" />
			<fault message="tns:AvisoDespachoNoExisteException" name="AvisoDespachoNoExisteException" />
			<fault message="tns:OrdenCompraNoExisteException" name="OrdenCompraNoExisteException" />
		</operation>
	</portType>
	<binding name="PoManagerDaManagementPortBinding" type="tns:PoManagerDaManagement">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="registrarDA">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="OrdenCompraNoExisteException">
				<soap:fault name="OrdenCompraNoExisteException" use="literal" />
			</fault>
		</operation>
		<operation name="consultarDA">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="AvisoDespachoNoExisteException">
				<soap:fault name="AvisoDespachoNoExisteException" use="literal" />
			</fault>
		</operation>
		<operation name="consultarDAsFabricante">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ClienteNoExisteException">
				<soap:fault name="ClienteNoExisteException" use="literal" />
			</fault>
		</operation>
		<operation name="consultarDAnumSeguimientoPO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="AvisoDespachoNoExisteException">
				<soap:fault name="AvisoDespachoNoExisteException" use="literal" />
			</fault>
			<fault name="OrdenCompraNoExisteException">
				<soap:fault name="OrdenCompraNoExisteException" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="PoManagerDaManagementService">
		<port name="PoManagerDaManagementPort" binding="tns:PoManagerDaManagementPortBinding">
			<soap:address
				location="http://localhost:8148/PoManagerDaManagementService/PoManagerDaManagement" />
		</port>
	</service>
</definitions>