tags/version-0.0.1/MarketPlaceIngenium/osbWorkspace/marketPlace/business/wsdls/poManager/XMLSchema_-1810825364.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://ws.pomanager.marketplace.losalpes.com.co/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.pomanager.marketplace.losalpes.com.co/">

<xs:element name="AvisoDespachoNoExisteException" type="tns:AvisoDespachoNoExisteException"></xs:element>

<xs:element name="ClienteNoExisteException" type="tns:ClienteNoExisteException"></xs:element>

<xs:element name="OrdenCompraNoExisteException" type="tns:OrdenCompraNoExisteException"></xs:element>

<xs:element name="consultarRMAsComercio" type="tns:consultarRMAsComercio"></xs:element>

<xs:element name="consultarRMAsComercioResponse" type="tns:consultarRMAsComercioResponse"></xs:element>

<xs:element name="consultarRMAsFabricante" type="tns:consultarRMAsFabricante"></xs:element>

<xs:element name="consultarRMAsFabricanteResponse" type="tns:consultarRMAsFabricanteResponse"></xs:element>

<xs:element name="registrarRMA" type="tns:registrarRMA"></xs:element>

<xs:element name="registrarRMAResponse" type="tns:registrarRMAResponse"></xs:element>

<xs:complexType name="registrarRMA">
<xs:sequence>
<xs:element name="rma" type="tns:returnMaterialAdviceBO" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="returnMaterialAdviceBO">
<xs:sequence>
<xs:element name="causa" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="da" type="tns:dispatchAdviceBO" minOccurs="0"></xs:element>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="itemsDevueltos" type="tns:itemPOBO" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="numSeguimiento" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="po" type="tns:purchaseOrderBO" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dispatchAdviceBO">
<xs:sequence>
<xs:element name="camiones" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fabricante" type="tns:fabricanteBO" minOccurs="0"></xs:element>
<xs:element name="fechaEmision" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="fechaLlegada" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="items" type="tns:itemPOBO" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="montoOperacion" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="numSeguimiento" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="po" type="tns:purchaseOrderBO" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fabricanteBO">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="nit" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemPOBO">
<xs:sequence>
<xs:element name="cantidad" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="producto" type="tns:productoBO" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productoBO">
<xs:sequence>
<xs:element name="categoria" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fabricanteAtiende" type="tns:fabricanteBO" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="precio" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="tiempoFabricacion" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchaseOrderBO">
<xs:sequence>
<xs:element name="comercio" type="tns:comercioBO" minOccurs="0"></xs:element>
<xs:element name="entrega" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="estado" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="items" type="tns:itemPOBO" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="numSeguimiento" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comercioBO">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="nit" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarRMAResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="OrdenCompraNoExisteException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AvisoDespachoNoExisteException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarRMAsFabricante">
<xs:sequence>
<xs:element name="nit" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarRMAsFabricanteResponse">
<xs:sequence>
<xs:element name="return" type="tns:returnMaterialAdviceBO" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ClienteNoExisteException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarRMAsComercio">
<xs:sequence>
<xs:element name="nit" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarRMAsComercioResponse">
<xs:sequence>
<xs:element name="return" type="tns:returnMaterialAdviceBO" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>