MarketPlaceIngenium/jdeveloperApps/MarketPlacePortlets/Portlets/src/co/com/losalpes/marketplace/ws/confirmacionPago/confirmacionpago_client_ep.wsdl

<wsdl:definitions
     name="ConfirmacionPago"
     targetNamespace="http://xmlns.oracle.com/MarketPlace_jws/ProcesoFacturacion/ConfirmacionPago"
     xmlns:ns1="http://marketplace.losalpes.com.co/GestionFacturacion"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:client="http://xmlns.oracle.com/MarketPlace_jws/ProcesoFacturacion/ConfirmacionPago"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:documentation>
        <abstractWSDL>http://portal.marketplace.losalpes.com.co:7001/soa-infra/services/default/ProcesoFacturacion!1.0/ConfirmacionPago.wsdl</abstractWSDL>
    </wsdl:documentation>
    <plnk:partnerLinkType name="ConfirmacionPago">
        <plnk:role name="ConfirmacionPagoRequester">
            <plnk:portType name="client:ConfirmacionPagoCallback"/>
        </plnk:role>
        <plnk:role name="ConfirmacionPagoProvider">
            <plnk:portType name="client:ConfirmacionPago"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
         wsu:Id="wsaddr_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:orawsp="http://schemas.oracle.com/ws/2006/01/policy"/>
    </wsp:Policy>
    <wsdl:import namespace="http://marketplace.losalpes.com.co/GestionFacturacion" location="GestionFacturacion.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/MarketPlace_jws/ProcesoFacturacion/ConfirmacionPago"
                 schemaLocation="ConfirmacionPago.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="ConfirmacionPagoRequestMessage">
        <wsdl:part name="referencia" element="client:process"/>
    </wsdl:message>
    <wsdl:message name="ConfirmacionPagoResponseMessage">
        <wsdl:part name="resultado" element="client:processResponse"/>
    </wsdl:message>
    <wsdl:portType name="ConfirmacionPago">
        <wsdl:operation name="process">
            <wsdl:input message="client:ConfirmacionPagoRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ConfirmacionPagoCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:ConfirmacionPagoResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConfirmacionPagoBinding" type="client:ConfirmacionPago">
        <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wsaddr_policy"
             wsdl:required="false"/>
        <wsdl:operation name="process">
            <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" soapAction="process"/>
            <wsdl:input>
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" namespace="http://xmlns.oracle.com/MarketPlace_jws/ProcesoFacturacion/ConfirmacionPago"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ConfirmacionPagoCallbackBinding" type="client:ConfirmacionPagoCallback">
        <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="processResponse">
            <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" soapAction="processResponse"/>
            <wsdl:input>
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" namespace="http://xmlns.oracle.com/MarketPlace_jws/ProcesoFacturacion/ConfirmacionPago"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="confirmacionpago_client_ep">
        <wsdl:port name="ConfirmacionPago_pt" binding="client:ConfirmacionPagoBinding">
            <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://portal.marketplace.losalpes.com.co:7001/soa-infra/services/default/ProcesoFacturacion/confirmacionpago_client_ep"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
