MarketPlaceIngenium/jdeveloperApps/MarketPlacePortlets/Portlets/src/co/com/losalpes/marketplace/ws/gestionContrato/GESTIO~1.XSD

<xs:schema version="1.0" targetNamespace="http://ws.contractmanager.marketplace.losalpes.com.co/"
     xmlns:tns="http://ws.contractmanager.marketplace.losalpes.com.co/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ContratoException" type="tns:ContratoException"/>
    <xs:element name="ContratoNoExisteException" type="tns:ContratoNoExisteException"/>
    <xs:element name="actualizarContrato" type="tns:actualizarContrato"/>
    <xs:element name="actualizarContratoResponse" type="tns:actualizarContratoResponse"/>
    <xs:element name="consultarContrato" type="tns:consultarContrato"/>
    <xs:element name="consultarContratoResponse" type="tns:consultarContratoResponse"/>
    <xs:element name="consultarContratosComercio" type="tns:consultarContratosComercio"/>
    <xs:element name="consultarContratosComercioResponse" type="tns:consultarContratosComercioResponse"/>
    <xs:element name="consultarContratosFabricante" type="tns:consultarContratosFabricante"/>
    <xs:element name="consultarContratosFabricanteResponse" type="tns:consultarContratosFabricanteResponse"/>
    <xs:element name="registrarContrato" type="tns:registrarContrato"/>
    <xs:element name="registrarContratoResponse" type="tns:registrarContratoResponse"/>
    <xs:complexType name="actualizarContrato">
        <xs:sequence>
            <xs:element name="contratoBO" type="tns:contratoBO" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="contratoBO">
        <xs:sequence>
            <xs:element name="cantidad" type="xs:int" minOccurs="0"/>
            <xs:element name="comercio" type="tns:comercioBO" minOccurs="0"/>
            <xs:element name="duracion" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="estado" type="xs:string" minOccurs="0"/>
            <xs:element name="fabricante" type="tns:fabricanteBO" minOccurs="0"/>
            <xs:element name="fechaInicio" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="periodicidad" type="xs:string" minOccurs="0"/>
            <xs:element name="precio" type="xs:long" minOccurs="0"/>
            <xs:element name="producto" type="tns:productoBO" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="comercioBO">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="nit" type="xs:string" minOccurs="0"/>
            <xs:element name="nombre" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fabricanteBO">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="nit" type="xs:string" minOccurs="0"/>
            <xs:element name="nombre" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="productoBO">
        <xs:sequence>
            <xs:element name="categoria" type="xs:string" minOccurs="0"/>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="nombre" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="actualizarContratoResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContratoNoExisteException">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="consultarContratosFabricante">
        <xs:sequence>
            <xs:element name="nit" type="xs:string" minOccurs="0"/>
            <xs:element name="estado" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="consultarContratosFabricanteResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:contratoBO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="registrarContrato">
        <xs:sequence>
            <xs:element name="contratoBO" type="tns:contratoBO" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="registrarContratoResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:long" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContratoException">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="consultarContratosComercio">
        <xs:sequence>
            <xs:element name="nit" type="xs:string" minOccurs="0"/>
            <xs:element name="estado" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="consultarContratosComercioResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:contratoBO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="consultarContrato">
        <xs:sequence>
            <xs:element name="idContrato" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="consultarContratoResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:contratoBO" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
