trunk/MarketPlaceIngenium/jdeveloperApps/MarketPlacePortlets/Portlets/classes/co/com/losalpes/marketplace/ws/gestionPO/GestionPO.wsdl

<WL5G3N0:definitions
     name="GestionPO"
     targetNamespace="http://marketplace.losalpes.com.co/GestionPO"
     xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:WL5G3N2="http://marketplace.losalpes.com.co/GestionPO"
     xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
     xmlns:WL5G3N1="http://marketplace.losalpes.com.co"
    >
    <WL5G3N0:types>
        <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://marketplace.losalpes.com.co/GestionPO"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsd1="http://marketplace.losalpes.com.co">
            <xsd:import namespace="http://marketplace.losalpes.com.co" schemaLocation="GestionPO_SCHEMA_2FmarketPlace_2Fproxy_2Fwsdls_2FgestionPO_2FGestionPO.xsd"/>
        </xsd:schema>
        <xsd:schema targetNamespace="http://marketplace.losalpes.com.co/GestionPO/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://marketplace.losalpes.com.co/GestionPO" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://marketplace.losalpes.com.co"/>
    </WL5G3N0:types>
    <WL5G3N0:message name="consultarPORequest">
        <WL5G3N0:part name="consultarPORequest" element="WL5G3N1:consultarPO"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarPOResponse">
        <WL5G3N0:part name="consultarPOResponse" element="WL5G3N1:consultarPOResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarPOFabricantePorEstadoRequest">
        <WL5G3N0:part name="consultarPOFabricantePorEstadoRequest" element="WL5G3N1:consultarPOFabricantePorEstado"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarPOFabricantePorEstadoResponse">
        <WL5G3N0:part name="consultarPOFabricantePorEstadoResponse" element="WL5G3N1:consultarPOFabricantePorEstadoResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarPOFault">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarPOFault"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="actualizarEstadoPORequest">
        <WL5G3N0:part name="actualizarEstadoPORequest" element="WL5G3N1:actualizarEstadoPO"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="actualizarEstadoPOResponse">
        <WL5G3N0:part name="actualizarEstadoPOResponse" element="WL5G3N1:actualizarEstadoPOResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="establecerFabricanteAtiendeRequest">
        <WL5G3N0:part name="establecerFabricanteAtiendeRequest" element="WL5G3N1:establecerFabricanteAtiende"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="establecerFabricanteAtiendeResponse">
        <WL5G3N0:part name="establecerFabricanteAtiendeResponse" element="WL5G3N1:establecerFabricanteAtiendeResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="registrarPORequest">
        <WL5G3N0:part name="registrarPORequest" element="WL5G3N1:registrarPO"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="registrarPOResponse">
        <WL5G3N0:part name="registrarPOResponse" element="WL5G3N1:registrarPOResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarComercioPORequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarComercioPO"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarComercioPOResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarComercioPOResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarPOsComercioRequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarPOsComercio"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarPOsComercioResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarPOsComercioResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:portType name="GestionPO">
        <WL5G3N0:operation name="consultarPO">
            <WL5G3N0:input message="WL5G3N2:consultarPORequest"/>
            <WL5G3N0:output message="WL5G3N2:consultarPOResponse"/>
            <WL5G3N0:fault name="fault" message="WL5G3N2:consultarPOFault"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarPOFabricantePorEstado">
            <WL5G3N0:input message="WL5G3N2:consultarPOFabricantePorEstadoRequest"/>
            <WL5G3N0:output message="WL5G3N2:consultarPOFabricantePorEstadoResponse"/>
            <WL5G3N0:fault name="fault" message="WL5G3N2:BussinessException"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="actualizarEstadoPO">
            <WL5G3N0:input message="WL5G3N2:actualizarEstadoPORequest"/>
            <WL5G3N0:output message="WL5G3N2:actualizarEstadoPOResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="establecerFabricanteAtiende">
            <WL5G3N0:input message="WL5G3N2:establecerFabricanteAtiendeRequest"/>
            <WL5G3N0:output message="WL5G3N2:establecerFabricanteAtiendeResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="registrarPO">
            <WL5G3N0:input message="WL5G3N2:registrarPORequest"/>
            <WL5G3N0:output message="WL5G3N2:registrarPOResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarComercioPO">
            <WL5G3N0:input message="WL5G3N2:consultarComercioPORequest"/>
            <WL5G3N0:output message="WL5G3N2:consultarComercioPOResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarPOsComercio">
            <WL5G3N0:input message="WL5G3N2:consultarPOsComercioRequest"/>
            <WL5G3N0:output message="WL5G3N2:consultarPOsComercioResponse"/>
        </WL5G3N0:operation>
    </WL5G3N0:portType>
    <WL5G3N0:binding name="GestionPOSOAP" type="WL5G3N2:GestionPO">
        <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <WL5G3N0:operation name="consultarPO">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionPO/consultarPO"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
            <WL5G3N0:fault name="fault">
                <WL5G3N3:fault name="fault" use="literal"/>
            </WL5G3N0:fault>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarPOFabricantePorEstado">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionPO/consultarPOFabricantePorEstado"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
            <WL5G3N0:fault name="fault">
                <WL5G3N3:fault name="fault" use="literal"/>
            </WL5G3N0:fault>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="actualizarEstadoPO">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionPO/actualizarEstadoPO"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="establecerFabricanteAtiende">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionPO/establecerFabricanteAtiende"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="registrarPO">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionPO/registrarPO"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarComercioPO">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionPO/consultarComercioPO"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarPOsComercio">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionPO/consultarPOsComercio"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
    </WL5G3N0:binding>
    <WL5G3N0:service name="GestionPO">
        <WL5G3N0:port name="GestionPOSOAP" binding="WL5G3N2:GestionPOSOAP">
            <WL5G3N3:address location="http://portal.marketplace.losalpes.com.co:7001/marketPlace/proxy/GestionPO"/>
        </WL5G3N0:port>
    </WL5G3N0:service>
</WL5G3N0:definitions>
