tags/version-0.0.2/MarketPlaceIngenium/osbWorkspace/marketPlace/business/wsdls/poManager/XMLSchema_-1442769241.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--
		Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is
		JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT.
	-->
<xs:schema xmlns:tns="http://ws.pomanager.marketplace.losalpes.com.co/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://ws.pomanager.marketplace.losalpes.com.co/">

	<xs:element name="AvisoDespachoNoExisteException" type="tns:AvisoDespachoNoExisteException"></xs:element>

	<xs:element name="ClienteNoExisteException" type="tns:ClienteNoExisteException"></xs:element>

	<xs:element name="OrdenCompraNoExisteException" type="tns:OrdenCompraNoExisteException"></xs:element>

	<xs:element name="consultarDA" type="tns:consultarDA"></xs:element>

	<xs:element name="consultarDAResponse" type="tns:consultarDAResponse"></xs:element>

	<xs:element name="consultarDAnumSeguimientoPO" type="tns:consultarDAnumSeguimientoPO"></xs:element>

	<xs:element name="consultarDAnumSeguimientoPOResponse" type="tns:consultarDAnumSeguimientoPOResponse"></xs:element>

	<xs:element name="consultarDAsFabricante" type="tns:consultarDAsFabricante"></xs:element>

	<xs:element name="consultarDAsFabricanteResponse" type="tns:consultarDAsFabricanteResponse"></xs:element>

	<xs:element name="registrarDA" type="tns:registrarDA"></xs:element>

	<xs:element name="registrarDAResponse" type="tns:registrarDAResponse"></xs:element>

	<xs:complexType name="consultarDA">
		<xs:sequence>
			<xs:element name="numSeguimiento" type="xs:string"
				minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultarDAResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:dispatchAdviceBO"
				minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="dispatchAdviceBO">
		<xs:sequence>
			<xs:element name="camiones" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="fabricante" type="tns:fabricanteBO"
				minOccurs="0"></xs:element>
			<xs:element name="fechaEmision" type="xs:dateTime"
				minOccurs="0"></xs:element>
			<xs:element name="fechaLlegada" type="xs:dateTime"
				minOccurs="0"></xs:element>
			<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
			<xs:element name="items" type="tns:itemPOBO" nillable="true"
				minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="montoOperacion" type="xs:long"
				minOccurs="0"></xs:element>
			<xs:element name="numSeguimiento" type="xs:string"
				minOccurs="0"></xs:element>
			<xs:element name="po" type="tns:purchaseOrderBO"
				minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="fabricanteBO">
		<xs:sequence>
			<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
			<xs:element name="nit" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="itemPOBO">
		<xs:sequence>
			<xs:element name="cantidad" type="xs:int" minOccurs="0"></xs:element>
			<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
			<xs:element name="producto" type="tns:productoBO"
				minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="productoBO">
		<xs:sequence>
			<xs:element name="categoria" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="fabricanteAtiende" type="tns:fabricanteBO"
				minOccurs="0"></xs:element>
			<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
			<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="precio" type="xs:long" minOccurs="0"></xs:element>
			<xs:element name="tiempoFabricacion" type="xs:dateTime"
				minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="purchaseOrderBO">
		<xs:sequence>
			<xs:element name="comercio" type="tns:comercioBO"
				minOccurs="0"></xs:element>
			<xs:element name="entrega" type="xs:dateTime" minOccurs="0"></xs:element>
			<xs:element name="estado" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
			<xs:element name="items" type="tns:itemPOBO" nillable="true"
				minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="numSeguimiento" type="xs:string"
				minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="comercioBO">
		<xs:sequence>
			<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
			<xs:element name="nit" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AvisoDespachoNoExisteException">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultarDAsFabricante">
		<xs:sequence>
			<xs:element name="nit" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultarDAsFabricanteResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:dispatchAdviceBO"
				minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ClienteNoExisteException">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="registrarDA">
		<xs:sequence>
			<xs:element name="da" type="tns:dispatchAdviceBO"
				minOccurs="0"></xs:element>
			<xs:element name="numSeguimientoPo" type="xs:string"
				minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="registrarDAResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OrdenCompraNoExisteException">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultarDAnumSeguimientoPO">
		<xs:sequence>
			<xs:element name="numSeguimiento" type="xs:string"
				minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultarDAnumSeguimientoPOResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:dispatchAdviceBO"
				minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>