MarketPlaceIngenium/jdeveloperApps/MarketPlacePortlets/Portlets/src/co/com/losalpes/marketplace/ws/gestionRMA/GestionRMA.wsdl

<WL5G3N0:definitions
     name="GestionRMA"
     targetNamespace="http://marketplace.losalpes.com.co/GestionRMA"
     xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:WL5G3N2="http://marketplace.losalpes.com.co/GestionRMA"
     xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
     xmlns:WL5G3N1="http://marketplace.losalpes.com.co"
    >
    <WL5G3N0:types>
        <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://marketplace.losalpes.com.co/GestionRMA"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsd1="http://marketplace.losalpes.com.co">
            <xsd:import namespace="http://marketplace.losalpes.com.co" schemaLocation="GestionRMA_SCHEMA_2FmarketPlace_2Fproxy_2Fwsdls_2FgestionRMA_2FGestionRMA.xsd"/>
        </xsd:schema>
    </WL5G3N0:types>
    <WL5G3N0:message name="registrarRMARequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:registrarRMA"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="registrarRMAResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:registrarRMAResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarRMAsComercioRequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarRMAsComercio"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarRMAsComercioResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarRMAsComercioResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarRMAsFabricanteRequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarRMAsFabricante"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarRMAsFabricanteResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarRMAsFabricanteResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:portType name="GestionRMA">
        <WL5G3N0:operation name="registrarRMA">
            <WL5G3N0:input message="WL5G3N2:registrarRMARequest"/>
            <WL5G3N0:output message="WL5G3N2:registrarRMAResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarRMAsComercio">
            <WL5G3N0:input message="WL5G3N2:consultarRMAsComercioRequest"/>
            <WL5G3N0:output message="WL5G3N2:consultarRMAsComercioResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarRMAsFabricante">
            <WL5G3N0:input message="WL5G3N2:consultarRMAsFabricanteRequest"/>
            <WL5G3N0:output message="WL5G3N2:consultarRMAsFabricanteResponse"/>
        </WL5G3N0:operation>
    </WL5G3N0:portType>
    <WL5G3N0:binding name="GestionRMASOAP" type="WL5G3N2:GestionRMA">
        <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <WL5G3N0:operation name="registrarRMA">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionRMA/registrarRMA"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarRMAsComercio">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionRMA/consultarRMAsComercio"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="consultarRMAsFabricante">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionRMA/consultarRMAsFabricante"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
    </WL5G3N0:binding>
    <WL5G3N0:service name="GestionRMA">
        <WL5G3N0:port name="GestionRMASOAP" binding="WL5G3N2:GestionRMASOAP">
            <WL5G3N3:address location="http://portal.marketplace.losalpes.com.co:7001/marketPlace/proxy/GestionRMA"/>
        </WL5G3N0:port>
    </WL5G3N0:service>
</WL5G3N0:definitions>
