MarketPlaceIngenium/osbWorkspace/marketPlace/business/wsdls/transactManager/TransactAuctionManagement.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><definitions targetNamespace="http://ws.transact.marketplace.losalpes.com.co/" name="TransactAuctionManagementService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.transact.marketplace.losalpes.com.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.transact.marketplace.losalpes.com.co/" schemaLocation="XMLSchema_765612391.xsd"/>
</xsd:schema>
</types>
<message name="crearSubasta">
<part name="parameters" element="tns:crearSubasta"/>
</message>
<message name="crearSubastaResponse">
<part name="parameters" element="tns:crearSubastaResponse"/>
</message>
<message name="BussinessException">
<part name="fault" element="tns:BussinessException"/>
</message>
<message name="asignarFabricantesSubasta">
<part name="parameters" element="tns:asignarFabricantesSubasta"/>
</message>
<message name="asignarFabricantesSubastaResponse">
<part name="parameters" element="tns:asignarFabricantesSubastaResponse"/>
</message>
<message name="consultarSubastasFabricante">
<part name="parameters" element="tns:consultarSubastasFabricante"/>
</message>
<message name="consultarSubastasFabricanteResponse">
<part name="parameters" element="tns:consultarSubastasFabricanteResponse"/>
</message>
<message name="registrarOferta">
<part name="parameters" element="tns:registrarOferta"/>
</message>
<message name="registrarOfertaResponse">
<part name="parameters" element="tns:registrarOfertaResponse"/>
</message>
<message name="consultarFabricantesSubasta">
<part name="parameters" element="tns:consultarFabricantesSubasta"/>
</message>
<message name="consultarFabricantesSubastaResponse">
<part name="parameters" element="tns:consultarFabricantesSubastaResponse"/>
</message>
<message name="cerrarSubasta">
<part name="parameters" element="tns:cerrarSubasta"/>
</message>
<message name="cerrarSubastaResponse">
<part name="parameters" element="tns:cerrarSubastaResponse"/>
</message>
<message name="darGanadorSubasta">
<part name="parameters" element="tns:darGanadorSubasta"/>
</message>
<message name="darGanadorSubastaResponse">
<part name="parameters" element="tns:darGanadorSubastaResponse"/>
</message>
<message name="consultarSubastaOrdenCompra">
<part name="parameters" element="tns:consultarSubastaOrdenCompra"/>
</message>
<message name="consultarSubastaOrdenCompraResponse">
<part name="parameters" element="tns:consultarSubastaOrdenCompraResponse"/>
</message>
<portType name="TransactAuctionManagement">
<operation name="crearSubasta">
<input message="tns:crearSubasta"/>
<output message="tns:crearSubastaResponse"/>
<fault message="tns:BussinessException" name="BussinessException"/>
</operation>
<operation name="asignarFabricantesSubasta">
<input message="tns:asignarFabricantesSubasta"/>
<output message="tns:asignarFabricantesSubastaResponse"/>
<fault message="tns:BussinessException" name="BussinessException"/>
</operation>
<operation name="consultarSubastasFabricante">
<input message="tns:consultarSubastasFabricante"/>
<output message="tns:consultarSubastasFabricanteResponse"/>
<fault message="tns:BussinessException" name="BussinessException"/>
</operation>
<operation name="registrarOferta">
<input message="tns:registrarOferta"/>
<output message="tns:registrarOfertaResponse"/>
<fault message="tns:BussinessException" name="BussinessException"/>
</operation>
<operation name="consultarFabricantesSubasta">
<input message="tns:consultarFabricantesSubasta"/>
<output message="tns:consultarFabricantesSubastaResponse"/>
<fault message="tns:BussinessException" name="BussinessException"/>
</operation>
<operation name="cerrarSubasta">
<input message="tns:cerrarSubasta"/>
<output message="tns:cerrarSubastaResponse"/>
<fault message="tns:BussinessException" name="BussinessException"/>
</operation>
<operation name="darGanadorSubasta">
<input message="tns:darGanadorSubasta"/>
<output message="tns:darGanadorSubastaResponse"/>
<fault message="tns:BussinessException" name="BussinessException"/>
</operation>
<operation name="consultarSubastaOrdenCompra">
<input message="tns:consultarSubastaOrdenCompra"/>
<output message="tns:consultarSubastaOrdenCompraResponse"/>
<fault message="tns:BussinessException" name="BussinessException"/>
</operation>
</portType>
<binding name="TransactAuctionManagementPortBinding" type="tns:TransactAuctionManagement">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="crearSubasta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BussinessException">
<soap:fault name="BussinessException" use="literal"/>
</fault>
</operation>
<operation name="asignarFabricantesSubasta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BussinessException">
<soap:fault name="BussinessException" use="literal"/>
</fault>
</operation>
<operation name="consultarSubastasFabricante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BussinessException">
<soap:fault name="BussinessException" use="literal"/>
</fault>
</operation>
<operation name="registrarOferta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BussinessException">
<soap:fault name="BussinessException" use="literal"/>
</fault>
</operation>
<operation name="consultarFabricantesSubasta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BussinessException">
<soap:fault name="BussinessException" use="literal"/>
</fault>
</operation>
<operation name="cerrarSubasta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BussinessException">
<soap:fault name="BussinessException" use="literal"/>
</fault>
</operation>
<operation name="darGanadorSubasta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BussinessException">
<soap:fault name="BussinessException" use="literal"/>
</fault>
</operation>
<operation name="consultarSubastaOrdenCompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BussinessException">
<soap:fault name="BussinessException" use="literal"/>
</fault>
</operation>
</binding>
<service name="TransactAuctionManagementService">
<port name="TransactAuctionManagementPort" binding="tns:TransactAuctionManagementPortBinding">
</port>
</service>
</definitions>