MarketPlaceIngenium/osbWorkspace/marketPlace/business/wsdls/transactManager/XMLSchema_765612391.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://ws.transact.marketplace.losalpes.com.co/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.transact.marketplace.losalpes.com.co/">

<xs:element name="BussinessException" type="tns:BussinessException"></xs:element>

<xs:element name="asignarFabricantesSubasta" type="tns:asignarFabricantesSubasta"></xs:element>

<xs:element name="asignarFabricantesSubastaResponse" type="tns:asignarFabricantesSubastaResponse"></xs:element>

<xs:element name="cerrarSubasta" type="tns:cerrarSubasta"></xs:element>

<xs:element name="cerrarSubastaResponse" type="tns:cerrarSubastaResponse"></xs:element>

<xs:element name="consultarFabricantesSubasta" type="tns:consultarFabricantesSubasta"></xs:element>

<xs:element name="consultarFabricantesSubastaResponse" type="tns:consultarFabricantesSubastaResponse"></xs:element>

<xs:element name="consultarSubastaOrdenCompra" type="tns:consultarSubastaOrdenCompra"></xs:element>

<xs:element name="consultarSubastaOrdenCompraResponse" type="tns:consultarSubastaOrdenCompraResponse"></xs:element>

<xs:element name="consultarSubastasFabricante" type="tns:consultarSubastasFabricante"></xs:element>

<xs:element name="consultarSubastasFabricanteResponse" type="tns:consultarSubastasFabricanteResponse"></xs:element>

<xs:element name="crearSubasta" type="tns:crearSubasta"></xs:element>

<xs:element name="crearSubastaResponse" type="tns:crearSubastaResponse"></xs:element>

<xs:element name="darGanadorSubasta" type="tns:darGanadorSubasta"></xs:element>

<xs:element name="darGanadorSubastaResponse" type="tns:darGanadorSubastaResponse"></xs:element>

<xs:complexType name="consultarFabricantesSubasta">
<xs:sequence>
<xs:element name="numSeguimiento" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarFabricantesSubastaResponse">
<xs:sequence>
<xs:element name="return" type="tns:fabricanteBO" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fabricanteBO">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="nit" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BussinessException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarSubastasFabricante">
<xs:sequence>
<xs:element name="nit" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarSubastasFabricanteResponse">
<xs:sequence>
<xs:element name="return" type="tns:subastaBO" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subastaBO">
<xs:sequence>
<xs:element name="activa" type="xs:boolean"></xs:element>
<xs:element name="fabricanteBOList" type="tns:fabricanteBO" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="mejorOfertaBO" type="tns:ofertaBO" minOccurs="0"></xs:element>
<xs:element name="numSeguimiento" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="ofertaBOList" type="tns:ofertaBO" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="purchaseOrderBO" type="tns:purchaseOrderBO" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofertaBO">
<xs:sequence>
<xs:element name="fabricanteBO" type="tns:fabricanteBO" minOccurs="0"></xs:element>
<xs:element name="fechaEntrega" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="numSeguimiento" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="productoOfrecidoBO" type="tns:productoBO" minOccurs="0"></xs:element>
<xs:element name="valor" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productoBO">
<xs:sequence>
<xs:element name="categoria" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchaseOrderBO">
<xs:sequence>
<xs:element name="comercioBO" type="tns:comercioBO" minOccurs="0"></xs:element>
<xs:element name="entrega" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="estado" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="itemPOBO" type="tns:itemPOBO" minOccurs="0"></xs:element>
<xs:element name="numSeguimiento" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comercioBO">
<xs:sequence>
<xs:element name="direccion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="nit" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="telefono" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemPOBO">
<xs:sequence>
<xs:element name="cantidad" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="productoBO" type="tns:productoBO" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarSubastaOrdenCompra">
<xs:sequence>
<xs:element name="numSeguimientoPO" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarSubastaOrdenCompraResponse">
<xs:sequence>
<xs:element name="return" type="tns:subastaBO" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cerrarSubasta">
<xs:sequence>
<xs:element name="idSubasta" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cerrarSubastaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="darGanadorSubasta">
<xs:sequence>
<xs:element name="idSubasta" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="darGanadorSubastaResponse">
<xs:sequence>
<xs:element name="return" type="tns:fabricanteBO" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearSubasta">
<xs:sequence>
<xs:element name="po" type="tns:purchaseOrderBO" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearSubastaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="asignarFabricantesSubasta">
<xs:sequence>
<xs:element name="numSeguimientoSubasta" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fabricantes" type="tns:fabricanteBO" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="asignarFabricantesSubastaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>