trunk/MarketPlaceIngenium/jdeveloperApps/MarketPlacePortlets/Portlets/src/co/com/losalpes/marketplace/ws/contrato/procesocontrato_client_ep.wsdl

<wsdl:definitions
     name="ProcesoContrato"
     targetNamespace="http://xmlns.oracle.com/MarketPlace/ProcesoContratos/ProcesoContrato"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:client="http://xmlns.oracle.com/MarketPlace/ProcesoContratos/ProcesoContrato"
     xmlns:cor="http://xmlns.oracle.com/MarketPlace/ProcesoContratos/ProcesoContrato/correlationset"
     xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <wsdl:documentation>
        <abstractWSDL>http://ecos5.virtual.uniandes.edu.co:7001/soa-infra/services/default/ProcesoContratos!1.0/ProcesoContrato.wsdl</abstractWSDL>
    </wsdl:documentation>
    <plnk:partnerLinkType name="ProcesoContrato">
        <plnk:role name="ProcesoContratoRequester">
            <plnk:portType name="client:ProcesoContratoCallback"/>
        </plnk:role>
        <plnk:role name="ProcesoContratoProvider">
            <plnk:portType name="client:ProcesoContrato"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="AceptarContrato">
        <plnk:role name="AceptarContrato">
            <plnk:portType name="client:AceptarContrato"/>
        </plnk:role>
        <plnk:role name="AceptarContratoRequester">
            <plnk:portType name="client:AceptarContratoCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <bpws:propertyAlias xmlns:ns1="http://oracle.com/sca/soapservice/MarketPlace/ProcesoContratos/AprobarContrato"
         propertyName="cor:contratoId" messageType="ns1:requestMessage" part="part1" query="/client:process/client:id"/>
    <bpws:propertyAlias xmlns:ns1="http://ws.contractmanager.marketplace.losalpes.com.co/" propertyName="cor:contratoId"
         messageType="ns1:registrarContratoResponse" part="parameters" query="/ns1:registrarContratoResponse/return"/>
    <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
         wsu:Id="wsaddr_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:orawsp="http://schemas.oracle.com/ws/2006/01/policy"/>
    </wsp:Policy>
    <wsdl:import namespace="http://xmlns.oracle.com/MarketPlace/ProcesoContratos/ProcesoContrato/correlationset"
         location="properties.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/MarketPlace/ProcesoContratos/ProcesoContrato"
                 schemaLocation="ProcesoContrato.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="ProcesoContratoResponseMessage">
        <wsdl:part name="payload" element="client:processResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcesoContratoRequestMessage">
        <wsdl:part name="payload" element="client:process"/>
    </wsdl:message>
    <wsdl:portType name="ProcesoContratoCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:ProcesoContratoResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ProcesoContrato">
        <wsdl:operation name="process">
            <wsdl:input message="client:ProcesoContratoRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="AceptarContratoCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:ProcesoContratoResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="AceptarContrato">
        <wsdl:operation name="process">
            <wsdl:input message="client:ProcesoContratoRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProcesoContratoCallbackBinding" type="client:ProcesoContratoCallback">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="processResponse">
            <soap:operation style="document" soapAction="processResponse"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/MarketPlace/ProcesoContratos/ProcesoContrato"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProcesoContratoBinding" type="client:ProcesoContrato">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wsaddr_policy"
             wsdl:required="false"/>
        <wsdl:operation name="process">
            <soap:operation style="document" soapAction="process"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/MarketPlace/ProcesoContratos/ProcesoContrato"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="procesocontrato_client_ep">
        <wsdl:port name="ProcesoContrato_pt" binding="client:ProcesoContratoBinding">
            <soap:address location="http://ecos5.virtual.uniandes.edu.co:7001/soa-infra/services/default/ProcesoContratos/procesocontrato_client_ep"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
