trunk/MarketPlaceIngenium/jdeveloperApps/MarketPlacePortlets/Portlets/src/co/com/losalpes/marketplace/ws/gestionCliente/GestionClienteSOAPQSService.wsdl

<WL5G3N0:definitions
     name="GestionCliente"
     targetNamespace="http://marketplace.losalpes.com.co/GestionCliente"
     xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:WL5G3N2="http://marketplace.losalpes.com.co/GestionCliente"
     xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
     xmlns:WL5G3N1="http://marketplace.losalpes.com.co"
    >
    <WL5G3N0:types>
        <xsd:schema xmlns:ma="http://marketplace.losalpes.com.co" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://marketplace.losalpes.com.co/GestionCliente" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://ws.transact.marketplace.losalpes.com.co/">
            <xsd:import namespace="http://marketplace.losalpes.com.co" schemaLocation="GestionCliente_SCHEMA_2FmarketPlace_2Fproxy_2Fwsdls_2FGestionCliente_2FGestionCliente.xsd"/>
            <xsd:import namespace="http://ws.transact.marketplace.losalpes.com.co/" schemaLocation="GestionCliente_SCHEMA_2FmarketPlace_2Fbusiness_2Fwsdls_2FtransactManager_2FXMLSchema_765612391.xsd"/>
        </xsd:schema>
    </WL5G3N0:types>
    <WL5G3N0:message name="CrearClienteRequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:crearCliente"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="CrearClienteResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:crearClienteResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="CrearContactosRequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:crearContacto"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="CrearContactosResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:crearContactoResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="ConsultarClienteRequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarCliente"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="ConsultarClienteResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarClienteResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="ConsultarComisionRequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarComision"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="ConsultarComisionResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarComisionResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="ModificarClienteRequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:modificarCliente"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="ModificarClienteResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:modificarClienteResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="ModificarComisionRequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:modificarComision"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="ModificarComisionResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:modificarComisionResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="ConsultarClientesProductoRequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarClientesProducto"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="ConsultarClientesProductoResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarClientesProductoResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="RadicarSolicitudRequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:radicarSolicitud"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="RadicarSolicitudResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:radicarSolicitudResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="ActualizarSolicitudRequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:actualizarSolicitud"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="ActualizarSolicitudResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:actualizarSolicitudResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="ActualizarEstadoClienteRequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:actualizarEstadoCliente"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="ActualizarEstadoClienteResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:actualizarEstadoClienteResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="ActualizarEstadoSolicitudRequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:actualizarEstadoSolicitud"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="ActualizarEstadoSolicitudResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:actualizarEstadoSolicitudResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="CerrarSolicitudRequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:cerrarSolicitud"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="CerrarSolicitudResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:cerrarSolicitudResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="ConsultarProductosClienteRequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarProductosCliente"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="ConsultarProductosClienteResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarProductosClienteResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:portType name="GestionCliente">
        <WL5G3N0:operation name="CrearCliente">
            <WL5G3N0:input message="WL5G3N2:CrearClienteRequest"/>
            <WL5G3N0:output message="WL5G3N2:CrearClienteResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="CrearContactos">
            <WL5G3N0:input message="WL5G3N2:CrearContactosRequest"/>
            <WL5G3N0:output message="WL5G3N2:CrearContactosResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="ConsultarCliente">
            <WL5G3N0:input message="WL5G3N2:ConsultarClienteRequest"/>
            <WL5G3N0:output message="WL5G3N2:ConsultarClienteResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="ConsultarComision">
            <WL5G3N0:input message="WL5G3N2:ConsultarComisionRequest"/>
            <WL5G3N0:output message="WL5G3N2:ConsultarComisionResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="ModificarCliente">
            <WL5G3N0:input message="WL5G3N2:ModificarClienteRequest"/>
            <WL5G3N0:output message="WL5G3N2:ModificarClienteResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="ModificarComision">
            <WL5G3N0:input message="WL5G3N2:ModificarComisionRequest"/>
            <WL5G3N0:output message="WL5G3N2:ModificarComisionResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="ConsultarClientesProducto">
            <WL5G3N0:input message="WL5G3N2:ConsultarClientesProductoRequest"/>
            <WL5G3N0:output message="WL5G3N2:ConsultarClientesProductoResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="RadicarSolicitud">
            <WL5G3N0:input message="WL5G3N2:RadicarSolicitudRequest"/>
            <WL5G3N0:output message="WL5G3N2:RadicarSolicitudResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="ActualizarSolicitud">
            <WL5G3N0:input message="WL5G3N2:ActualizarSolicitudRequest"/>
            <WL5G3N0:output message="WL5G3N2:ActualizarSolicitudResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="ActualizarEstadoCliente">
            <WL5G3N0:input message="WL5G3N2:ActualizarEstadoClienteRequest"/>
            <WL5G3N0:output message="WL5G3N2:ActualizarEstadoClienteResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="ActualizarEstadoSolicitud">
            <WL5G3N0:input message="WL5G3N2:ActualizarEstadoSolicitudRequest"/>
            <WL5G3N0:output message="WL5G3N2:ActualizarEstadoSolicitudResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="CerrarSolicitud">
            <WL5G3N0:input message="WL5G3N2:CerrarSolicitudRequest"/>
            <WL5G3N0:output message="WL5G3N2:CerrarSolicitudResponse"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="ConsultarProductosCliente">
            <WL5G3N0:input message="WL5G3N2:ConsultarProductosClienteRequest"/>
            <WL5G3N0:output message="WL5G3N2:ConsultarProductosClienteResponse"/>
        </WL5G3N0:operation>
    </WL5G3N0:portType>
    <WL5G3N0:binding name="GestionClienteSOAP" type="WL5G3N2:GestionCliente">
        <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <WL5G3N0:operation name="CrearCliente">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionCliente/CrearCliente"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="CrearContactos">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionCliente/CrearContactos"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="ConsultarCliente">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionCliente/ConsultarCliente"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="ConsultarComision">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionCliente/ConsultarComision"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="ModificarCliente">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionCliente/ModificarCliente"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="ModificarComision">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionCliente/ModificarComision"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="ConsultarClientesProducto">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionCliente/ConsultarClientesProducto"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="RadicarSolicitud">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionCliente/RadicarSolicitud"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="ActualizarSolicitud">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionCliente/ActualizarSolicitud"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="ActualizarEstadoCliente">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionCliente/ActualizarEstadoCliente"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="ActualizarEstadoSolicitud">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionCliente/ActualizarEstadoSolicitud"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="CerrarSolicitud">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionCliente/CerrarSolicitud"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="ConsultarProductosCliente">
            <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionCliente/ConsultarProductosCliente"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
    </WL5G3N0:binding>
    <WL5G3N0:service name="GestionClienteSOAPQSService">
        <WL5G3N0:port name="GestionClienteSOAPQSPort" binding="WL5G3N2:GestionClienteSOAP">
            <WL5G3N3:address location="http://portal.marketplace.losalpes.com.co:7001/marketPlace/proxy/GestionCliente"/>
        </WL5G3N0:port>
    </WL5G3N0:service>
</WL5G3N0:definitions>
