trunk/MarketPlaceIngenium/osbWorkspace/marketPlace/business/wsdls/LDAP/LDAPAuthenticationManagement.wsdl


	<!--
		Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is
		JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT.
	-->
	<!--
		Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is
		JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT.
	-->
<definitions targetNamespace="http://ws.ldap.marketplace.losalpes.com.co/"
	name="LDAPAuthenticationManagementService"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ldap.marketplace.losalpes.com.co/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://ws.ldap.marketplace.losalpes.com.co/"
				schemaLocation="XMLSchema_-1211761121.xsd" />
		</xsd:schema>
	</types>
	<message name="autenticar">
		<part name="parameters" element="tns:autenticar" />
	</message>
	<message name="autenticarResponse">
		<part name="parameters" element="tns:autenticarResponse" />
	</message>
	<message name="UsuarioNoExisteException">
		<part name="fault" element="tns:UsuarioNoExisteException" />
	</message>
	<message name="crearUsuario">
		<part name="parameters" element="tns:crearUsuario" />
	</message>
	<message name="crearUsuarioResponse">
		<part name="parameters" element="tns:crearUsuarioResponse" />
	</message>
	<message name="RolNoExisteException">
		<part name="fault" element="tns:RolNoExisteException" />
	</message>
	<message name="obtenerNitUsuario">
		<part name="parameters" element="tns:obtenerNitUsuario" />
	</message>
	<message name="obtenerNitUsuarioResponse">
		<part name="parameters" element="tns:obtenerNitUsuarioResponse" />
	</message>
	<message name="cambiarClave">
		<part name="parameters" element="tns:cambiarClave" />
	</message>
	<message name="cambiarClaveResponse">
		<part name="parameters" element="tns:cambiarClaveResponse" />
	</message>
	<message name="recuperarClave">
		<part name="parameters" element="tns:recuperarClave" />
	</message>
	<message name="recuperarClaveResponse">
		<part name="parameters" element="tns:recuperarClaveResponse" />
	</message>
	<message name="actualizarEstadoUsuario">
		<part name="parameters" element="tns:actualizarEstadoUsuario" />
	</message>
	<message name="actualizarEstadoUsuarioResponse">
		<part name="parameters" element="tns:actualizarEstadoUsuarioResponse" />
	</message>
	<message name="EstadoNoExisteException">
		<part name="fault" element="tns:EstadoNoExisteException" />
	</message>
	<portType name="LDAPAuthenticationManagement">
		<operation name="autenticar">
			<input message="tns:autenticar" />
			<output message="tns:autenticarResponse" />
			<fault message="tns:UsuarioNoExisteException" name="UsuarioNoExisteException" />
		</operation>
		<operation name="crearUsuario">
			<input message="tns:crearUsuario" />
			<output message="tns:crearUsuarioResponse" />
			<fault message="tns:RolNoExisteException" name="RolNoExisteException" />
		</operation>
		<operation name="obtenerNitUsuario">
			<input message="tns:obtenerNitUsuario" />
			<output message="tns:obtenerNitUsuarioResponse" />
			<fault message="tns:UsuarioNoExisteException" name="UsuarioNoExisteException" />
		</operation>
		<operation name="cambiarClave">
			<input message="tns:cambiarClave" />
			<output message="tns:cambiarClaveResponse" />
			<fault message="tns:UsuarioNoExisteException" name="UsuarioNoExisteException" />
		</operation>
		<operation name="recuperarClave">
			<input message="tns:recuperarClave" />
			<output message="tns:recuperarClaveResponse" />
			<fault message="tns:UsuarioNoExisteException" name="UsuarioNoExisteException" />
		</operation>
		<operation name="actualizarEstadoUsuario">
			<input message="tns:actualizarEstadoUsuario" />
			<output message="tns:actualizarEstadoUsuarioResponse" />
			<fault message="tns:UsuarioNoExisteException" name="UsuarioNoExisteException" />
			<fault message="tns:EstadoNoExisteException" name="EstadoNoExisteException" />
		</operation>
	</portType>
	<binding name="LDAPAuthenticationManagementPortBinding" type="tns:LDAPAuthenticationManagement">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="autenticar">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="UsuarioNoExisteException">
				<soap:fault name="UsuarioNoExisteException" use="literal" />
			</fault>
		</operation>
		<operation name="crearUsuario">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RolNoExisteException">
				<soap:fault name="RolNoExisteException" use="literal" />
			</fault>
		</operation>
		<operation name="obtenerNitUsuario">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="UsuarioNoExisteException">
				<soap:fault name="UsuarioNoExisteException" use="literal" />
			</fault>
		</operation>
		<operation name="cambiarClave">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="UsuarioNoExisteException">
				<soap:fault name="UsuarioNoExisteException" use="literal" />
			</fault>
		</operation>
		<operation name="recuperarClave">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="UsuarioNoExisteException">
				<soap:fault name="UsuarioNoExisteException" use="literal" />
			</fault>
		</operation>
		<operation name="actualizarEstadoUsuario">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="UsuarioNoExisteException">
				<soap:fault name="UsuarioNoExisteException" use="literal" />
			</fault>
			<fault name="EstadoNoExisteException">
				<soap:fault name="EstadoNoExisteException" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="LDAPAuthenticationManagementService">
		<port name="LDAPAuthenticationManagementPort" binding="tns:LDAPAuthenticationManagementPortBinding">
			<soap:address
				location="http://localhost:8148/LDAPAuthenticationManagementService/LDAPAuthenticationManagement" />
		</port>
	</service>
</definitions>