MarketPlaceIngenium/osbWorkspace/marketPlace/business/wsdls/mailer/MailSendingManagement.wsdl

	<!--
		Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is
		JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT.
	-->
	<!--
		Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is
		JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT.
	-->
<definitions targetNamespace="http://ws.mailer.marketplace.losalpes.com.co/"
	name="MailSendingManagementService"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.mailer.marketplace.losalpes.com.co/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://ws.mailer.marketplace.losalpes.com.co/"
				schemaLocation="XMLSchema_-24959577.xsd" />
		</xsd:schema>
	</types>
	<message name="sendMail">
		<part name="parameters" element="tns:sendMail" />
	</message>
	<message name="sendMailResponse">
		<part name="parameters" element="tns:sendMailResponse" />
	</message>
	<message name="CorreosInvalidosException">
		<part name="fault" element="tns:CorreosInvalidosException" />
	</message>
	<message name="InternalMailServerException">
		<part name="fault" element="tns:InternalMailServerException" />
	</message>
	<message name="CorruptedAttachmentException">
		<part name="fault" element="tns:CorruptedAttachmentException" />
	</message>
	<portType name="MailSendingManagement">
		<operation name="sendMail">
			<input message="tns:sendMail" />
			<output message="tns:sendMailResponse" />
			<fault message="tns:CorreosInvalidosException" name="CorreosInvalidosException" />
			<fault message="tns:InternalMailServerException" name="InternalMailServerException" />
			<fault message="tns:CorruptedAttachmentException" name="CorruptedAttachmentException" />
		</operation>
	</portType>
	<binding name="MailSendingManagementPortBinding" type="tns:MailSendingManagement">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="sendMail">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="CorreosInvalidosException">
				<soap:fault name="CorreosInvalidosException" use="literal" />
			</fault>
			<fault name="InternalMailServerException">
				<soap:fault name="InternalMailServerException" use="literal" />
			</fault>
			<fault name="CorruptedAttachmentException">
				<soap:fault name="CorruptedAttachmentException" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="MailSendingManagementService">
		<port name="MailSendingManagementPort" binding="tns:MailSendingManagementPortBinding">
			<soap:address
				location="http://localhost:8148/MailSendingManagementService/MailSendingManagement" />
		</port>
	</service>
</definitions>