MarketPlaceIngenium/NetbeansProjects/LDAP/src/conf/wsdl/localhost_8148/MailSendingManagementService/MailSendingManagement.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://ws.mailer.marketplace.losalpes.com.co/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.mailer.marketplace.losalpes.com.co/">

<xs:element name="BussinessException" type="tns:BussinessException"></xs:element>

<xs:element name="sendMail" type="tns:sendMail"></xs:element>

<xs:element name="sendMailResponse" type="tns:sendMailResponse"></xs:element>

<xs:complexType name="sendMail">
<xs:sequence>
<xs:element name="to" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="cc" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="bcc" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="subject" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="from" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="attachments" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendMailResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BussinessException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>