MarketPlaceIngenium/osbWorkspace/marketPlace/business/wsdls/poManager/PoManagerRmaManagement.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><definitions targetNamespace="http://ws.pomanager.marketplace.losalpes.com.co/" name="PoManagerRmaManagementService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.pomanager.marketplace.losalpes.com.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.pomanager.marketplace.losalpes.com.co/" schemaLocation="XMLSchema_-1810825364.xsd"/>
</xsd:schema>
</types>
<message name="registrarRMA">
<part name="parameters" element="tns:registrarRMA"/>
</message>
<message name="registrarRMAResponse">
<part name="parameters" element="tns:registrarRMAResponse"/>
</message>
<message name="OrdenCompraNoExisteException">
<part name="fault" element="tns:OrdenCompraNoExisteException"/>
</message>
<message name="AvisoDespachoNoExisteException">
<part name="fault" element="tns:AvisoDespachoNoExisteException"/>
</message>
<message name="consultarRMAsComercio">
<part name="parameters" element="tns:consultarRMAsComercio"/>
</message>
<message name="consultarRMAsComercioResponse">
<part name="parameters" element="tns:consultarRMAsComercioResponse"/>
</message>
<message name="ClienteNoExisteException">
<part name="fault" element="tns:ClienteNoExisteException"/>
</message>
<message name="consultarRMAsFabricante">
<part name="parameters" element="tns:consultarRMAsFabricante"/>
</message>
<message name="consultarRMAsFabricanteResponse">
<part name="parameters" element="tns:consultarRMAsFabricanteResponse"/>
</message>
<portType name="PoManagerRmaManagement">
<operation name="registrarRMA">
<input message="tns:registrarRMA"/>
<output message="tns:registrarRMAResponse"/>
<fault message="tns:OrdenCompraNoExisteException" name="OrdenCompraNoExisteException"/>
<fault message="tns:AvisoDespachoNoExisteException" name="AvisoDespachoNoExisteException"/>
</operation>
<operation name="consultarRMAsComercio">
<input message="tns:consultarRMAsComercio"/>
<output message="tns:consultarRMAsComercioResponse"/>
<fault message="tns:ClienteNoExisteException" name="ClienteNoExisteException"/>
</operation>
<operation name="consultarRMAsFabricante">
<input message="tns:consultarRMAsFabricante"/>
<output message="tns:consultarRMAsFabricanteResponse"/>
<fault message="tns:ClienteNoExisteException" name="ClienteNoExisteException"/>
</operation>
</portType>
<binding name="PoManagerRmaManagementPortBinding" type="tns:PoManagerRmaManagement">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registrarRMA">

<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OrdenCompraNoExisteException">
<soap:fault name="OrdenCompraNoExisteException" use="literal"/>
</fault>
<fault name="AvisoDespachoNoExisteException">
<soap:fault name="AvisoDespachoNoExisteException" use="literal"/>
</fault>
</operation>
<operation name="consultarRMAsComercio">

<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClienteNoExisteException">
<soap:fault name="ClienteNoExisteException" use="literal"/>
</fault>
</operation>
<operation name="consultarRMAsFabricante">

<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClienteNoExisteException">
<soap:fault name="ClienteNoExisteException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PoManagerRmaManagementService">
<port name="PoManagerRmaManagementPort" binding="tns:PoManagerRmaManagementPortBinding">
<soap:address location="http://localhost:8148/PoManagerRmaManagementService/PoManagerRmaManagement"/>
</port>
</service>
</definitions>