tags/version-0.0.2/MarketPlaceIngenium/NetbeansProjects/Facturacion/src/conf/xml-resources/web-service-references/facturacionconfirmacionpago_client_ep/wsdl/portal.marketplace.losalpes.com.co_7001/marketPlace/proxy/GestionFacturacion.schema/marketplace/canonicos/documento.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://marketplace.losalpes.com.co" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://marketplace.losalpes.com.co">

    <element name="documento" type="tns:Documento"/>

    <complexType name="Documento">
    	<sequence>
    		<element name="nombre" type="string" minOccurs="1" maxOccurs="1">
    		</element>
    		<element name="url" type="string" minOccurs="1" maxOccurs="1">
    		</element>
    		<element name="tipo" type="string" minOccurs="1" maxOccurs="1"/>
    	</sequence>
    </complexType>
</schema>