tags/version-0.0.1/MarketPlaceIngenium/NetbeansProjects/Facturacion/src/conf/xml-resources/web-service-references/facturacionconfirmacionpago_client_ep/wsdl/portal.marketplace.losalpes.com.co_7001/marketPlace/proxy/GestionFacturacion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="GestionFacturacion" targetNamespace="http://marketplace.losalpes.com.co/GestionFacturacion" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://marketplace.losalpes.com.co" xmlns:WL5G3N2="http://marketplace.losalpes.com.co/GestionFacturacion" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://marketplace.losalpes.com.co/GestionFacturacion" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://marketplace.losalpes.com.co">
      <xsd:import namespace="http://marketplace.losalpes.com.co" schemaLocation="http://portal.marketplace.losalpes.com.co:7001/marketPlace/proxy/GestionFacturacion?SCHEMA%2FmarketPlace%2Fproxy%2Fwsdls%2FgestionFacturacion%2FGestionFacturacion">
    	</xsd:import>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="crearCuentaFacturacionRequest">
    <WL5G3N0:part element="WL5G3N1:crearCuentaFacturacion" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="crearCuentaFacturacionResponse">
    <WL5G3N0:part element="WL5G3N1:crearCuentaFacturacionResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarCuentaFacturacionRequest">
    <WL5G3N0:part element="WL5G3N1:consultarCuentaFacturacion" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarCuentaFacturacionResponse">
    <WL5G3N0:part element="WL5G3N1:consultarCuentaFacturacionResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="generarFacturaCorteRequest">
    <WL5G3N0:part element="WL5G3N1:generarFacturaCorte" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="generarFacturaCorteResponse">
    <WL5G3N0:part element="WL5G3N1:generarFacturaCorteResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="registrarTransaccionRequest">
    <WL5G3N0:part element="WL5G3N1:registrarTransaccion" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="registrarTransaccionResponse">
    <WL5G3N0:part element="WL5G3N1:registrarTransaccionResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="cambiarEstadoClienteRequest">
    <WL5G3N0:part element="WL5G3N1:cambiarEstadoCliente" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="cambiarEstadoClienteResponse">
    <WL5G3N0:part element="WL5G3N1:cambiarEstadoClienteResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarCuentaFacturacionClienteRequest">
    <WL5G3N0:part element="WL5G3N1:consultarCuentaFacturacionCliente" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarCuentaFacturacionClienteResponse">
    <WL5G3N0:part element="WL5G3N1:consultarCuentaFacturacionClienteResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="reportarClientesMorososRequest">
    <WL5G3N0:part element="WL5G3N1:reportarClientesMorosos" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="reportarClientesMorososResponse">
    <WL5G3N0:part element="WL5G3N1:reportarClientesMorososResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="GestionFacturacion">
    <WL5G3N0:operation name="crearCuentaFacturacion">
      <WL5G3N0:input message="WL5G3N2:crearCuentaFacturacionRequest"/>
      <WL5G3N0:output message="WL5G3N2:crearCuentaFacturacionResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarCuentaFacturacion">
      <WL5G3N0:input message="WL5G3N2:consultarCuentaFacturacionRequest"/>
      <WL5G3N0:output message="WL5G3N2:consultarCuentaFacturacionResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="generarFacturaCorte">
      <WL5G3N0:input message="WL5G3N2:generarFacturaCorteRequest"/>
      <WL5G3N0:output message="WL5G3N2:generarFacturaCorteResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="registrarTransaccion">
      <WL5G3N0:input message="WL5G3N2:registrarTransaccionRequest"/>
      <WL5G3N0:output message="WL5G3N2:registrarTransaccionResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="cambiarEstadoCliente">
      <WL5G3N0:input message="WL5G3N2:cambiarEstadoClienteRequest"/>
      <WL5G3N0:output message="WL5G3N2:cambiarEstadoClienteResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarCuentaFacturacionCliente">
      <WL5G3N0:input message="WL5G3N2:consultarCuentaFacturacionClienteRequest"/>
      <WL5G3N0:output message="WL5G3N2:consultarCuentaFacturacionClienteResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="reportarClientesMorosos">
      <WL5G3N0:input message="WL5G3N2:reportarClientesMorososRequest"/>
      <WL5G3N0:output message="WL5G3N2:reportarClientesMorososResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="GestionFacturacionSOAP" type="WL5G3N2:GestionFacturacion">
    <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="crearCuentaFacturacion">
      <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionFacturacion/crearCuentaFacturacion"/>
      <WL5G3N0:input>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarCuentaFacturacion">
      <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionFacturacion/consultarCuentaFacturacion"/>
      <WL5G3N0:input>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="generarFacturaCorte">
      <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionFacturacion/generarFacturaCorte"/>
      <WL5G3N0:input>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="registrarTransaccion">
      <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionFacturacion/registrarTransaccion"/>
      <WL5G3N0:input>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="cambiarEstadoCliente">
      <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionFacturacion/cambiarEstadoCliente"/>
      <WL5G3N0:input>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarCuentaFacturacionCliente">
      <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionFacturacion/consultarCuentaFacturacionCliente"/>
      <WL5G3N0:input>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="reportarClientesMorosos">
      <WL5G3N3:operation soapAction="http://marketplace.losalpes.com.co/GestionFacturacion/reportarClientesMorosos"/>
      <WL5G3N0:input>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="GestionFacturacion">
    <WL5G3N0:port binding="WL5G3N2:GestionFacturacionSOAP" name="GestionFacturacionSOAP">
      <WL5G3N3:address location="http://portal.marketplace.losalpes.com.co:7001/marketPlace/proxy/GestionFacturacion"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>