tags/version-0.0.2/MarketPlaceIngenium/jdeveloperApps/MarketPlacePortlets/Portlets/src/co/com/losalpes/marketplace/ws/ordenCompraDirecta/PurchaseOrderDirect.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/MarketPlace/ProcesoOrdenCompra/PurchaseOrderDirect"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="process">
        <complexType>
            <sequence>
                <element name="fechaMaximaEntrega" type="dateTime"/>
                <element name="fechaMaximaSubasta" type="dateTime"/>
                <element name="fecha" type="dateTime"/>
                <element name="nitComercio" nillable="false" type="string"/>
                <element name="nitFabricante" type="string"/>
                <element name="nombreComercio" type="string"/>
                <element name="emailComercio" type="string"/>
                <element name="direccionComercio" type="string"/>
                <element name="telefonoComercio" type="string"/>
                <element name="cantidadProducto" type="int" minOccurs="1" nillable="false"/>
                <element name="nombreProducto" type="string" minOccurs="1" nillable="false"/>
                <element name="categoriaProducto" type="string" minOccurs="1" nillable="false"/>
                <element name="precioProducto" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="processResponse">
        <complexType>
            <sequence>
                <element name="NumSeguimiento" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="aprobacion">
        <complexType>
            <sequence>
                <element name="numSeguimiento" type="string"/>
                <element name="estado" type="string"/>
                <element name="precioProducto" type="long"/>
            </sequence>
        </complexType>
    </element>
</schema>
